<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>View Units</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
 </ion-header>

 <ion-content padding>
  <ion-card>
    <ion-card-content >
      <ion-card-title class="text-center"><strong>Unit Details</strong></ion-card-title>
        <ion-row>
          <ion-col size="6" class="text-left"><strong>Total Units</strong></ion-col>
          <ion-col class="text-right">
            <ion-icon name="home" style="font-size: 1.5em;"></ion-icon></ion-col>
            <ion-col size="2" class="text-right"><strong>{{TotalUnits}}</strong> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="text-left"><strong>Total Active Users</strong></ion-col>
          <ion-col class="text-right">
            <ion-icon name="people" style="font-size: 1.5em;"></ion-icon></ion-col>
            <ion-col size="2" class="text-right"><strong>{{TotalActiveUser}}</strong></ion-col>   
        </ion-row>
        <ion-row>
          <ion-col size="6" class="text-left"><strong>Total Active Units</strong></ion-col>
          <ion-col class="text-right"> 
            <ion-icon name="people-circle-outline"  style="font-size: 1.5em;"></ion-icon></ion-col> 
            <ion-col size="2" class="text-right"><strong>{{TotalActiveUnits}}</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="text-left"><strong>Total Inactive Units</strong></ion-col>
          <ion-col class="text-right">
            <ion-icon name="people-circle-outline"  style="font-size: 1.5em;"></ion-icon></ion-col>
            <ion-col size="2" class="text-right"><strong>{{TotalInactiveUnits}}</strong></ion-col>  
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col class="text-center"><strong>View Unit Details</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center">
              <!--<ion-label floating>Please select</ion-label>-->
                  <ion-select placeholder="Please select" style="color:#0d0d0d" [(ngModel)]="userData.unit_id" (ionChange)="fetchDues()">
                    <ion-select-option *ngFor="let u of Unit_list" value="{{u.unit_id}}">{{u.unit_no}} [ {{u.owner_name}} ]</ion-select-option>
                  </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="text-center">
              <ion-button color="primary" block (click)="ferch()">Submit</ion-button>
              <!--<button ion-button color="primary" block (click)="ferch()">Submit</button>-->
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>
  