<!--
  Generated template for the FinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Impose Fine</ion-title>
    <ion-buttons style="width:30%" end>
      <ion-icon><img style="width:70%" src="images/logo.png"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="Block_unit==1">
  <ion-list no-line>
    <ion-item>
      <ion-row>
        <ion-col text-center>
          <h2 style="color: red;">Access Denied!</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <p style="white-space: initial;color: red;">We are sorry, but your access has been blocked for this feature.
            Please contact your Managing Committee for resolution.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <p><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase;color: red;">
              {{Block_desc}}</span> </p>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>
<ion-content padding *ngIf="Block_unit==0">

  <ion-list no-lines *ngIf="setMassege== 1 ">
    <p text-center style="color:#FF0000;"><strong>{{message}}</strong></p>
    <!--<ion-item>
          <ion-input type="text" hidden [(ngModel)]="userDate.LedgerId" ngControl="LedgerId"></ion-input>
          </ion-item>-->
    <ion-item>
      <ion-label>Bill Period : {{type}}</ion-label>
    </ion-item>

    <!--<ion-item>
              <ion-label floating>Select Period</ion-label>
                <ion-select [(ngModel)]="userData.ID">
                <ion-option text-wrap *ngFor="let p of FetchPeriod " value="{{p.ID}}">{{p.Type}}</ion-option>
                </ion-select>
            </ion-item>-->
    <ion-item>
      <ion-label floating>Select Unit *</ion-label>
      <ion-select [(ngModel)]="userData.unit_id">
        <!-- <ion-select-option text-wrap *ngFor="let u of UnitList"
          value="{{u.unit_id}}">{{u.unit_name}}</ion-select-option> -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Amount *</ion-label>
      <ion-input type="text" value="" [(ngModel)]="userData.amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description *</ion-label>
      <ion-textarea [(ngModel)]="userData.desc" rows="5"></ion-textarea>
    </ion-item>
    <!--<ion-item>
            <ion-label>send email notification</ion-label>
            <ion-checkbox checked="true" value="1" [(ngModel)]="userData.sendEmail"></ion-checkbox>
          </ion-item>-->
    <ion-item>
      <ion-label>send email notification</ion-label>
      <!-- <ion-checkbox [(ngModel)]="checked" (ngModelChange)="getSelect(checked, value)"></ion-checkbox> -->
    </ion-item>

    <ion-item>
      <ion-card>
        <img src="{{pathForImage(lastImage)}}" [hidden]="lastImage === null" style="max-height : 50vh"
          (click)="selectItems()">
      </ion-card>
      <h3 [hidden]="lastImage !== null"></h3>
      <button ion-button round icon-left (click)="presentActionSheet()">
        <ion-buttons text-center>
          <ion-icon name="camera"></ion-icon>Select Image
        </ion-buttons>
      </button>
    </ion-item>
    <ion-item>
      <button ion-button color="primary" block (click)="submit()" [disabled]="disabled">Submit</button>
      <p style="color:#FF0000;">{{message}}</p>
    </ion-item>
  </ion-list>
  <br />
  <br />
  <ion-list *ngIf="setMassege== -1 ">
    <p text-center style="color: red;">No Billing Period Found For Current Financial Year. </p>
  </ion-list>
</ion-content>