<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Classified Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="classifieds" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-card>
      <img src="{{img}}" style="max-height : 50vh" (click)="selectItems()">
    </ion-card>
    <h5 class="text-center">Details</h5>
    
  <ion-card text-wrap>
    <ion-list class="list-padding">
      
        <ion-row>
          <ion-col>
            <h5>Location:</h5>
            <p><ion-icon name="map" item-left large ></ion-icon>&nbsp;{{location}}</p>
          </ion-col>
          <ion-col>
            <h5>Category:</h5>
            <p>{{category_name}}</p>
          </ion-col>
        </ion-row>
    </ion-list>
    <ion-list  class="list-padding">
      
        <ion-row>
          <ion-col>
            <h5>Publish On:</h5>
            <p><ion-icon name="calendar" item-left large ></ion-icon> &nbsp;{{post_date}}</p>
          </ion-col>
          <ion-col>
            <h5> Expiry On:</h5>
            <p>{{exp_date}}</p>
          </ion-col>
        </ion-row>
    </ion-list>
  </ion-card>
  <h5  class="text-center">Contact Details</h5>
    <ion-card text-wrap>
      <ion-list  class="list-padding">
       
        <h5 > <ion-icon name="briefcase" item-left large ></ion-icon> &nbsp;{{ad_title}}</h5>
      </ion-list>
      
    <ion-list  class="list-padding">
      
      <h5><ion-icon name="call" item-left large ></ion-icon> &nbsp;<a href="tel:{{phone}}" class="button button-positive">{{phone}}</a></h5>
    </ion-list>
    
    <ion-list  class="list-padding">
      
      <h5><ion-icon name="mail" item-left large ></ion-icon>&nbsp;{{email}}</h5>
    </ion-list>
  </ion-card>
  <h5 class="text-center">Description</h5>
    <ion-card>
      <ion-card-content>
        <p id="desp1"><p>
      </ion-card-content>
    </ion-card>
    <ion-row *ngIf="profile_flag != 0 && active != 1">
      <ion-col size="6" class="text-center">
        <ion-button style="background-color:mediumseagreen" block (click)="confirmApprove(id)">Approve</ion-button>
        <!--<button ion-button block (click)="confirmApprove(id)" style="background-color:mediumseagreen">Approve</button>-->
      </ion-col>
      <ion-col  size="6" class="text-center">
        <ion-button style="background-color:red" block (click)="confirmRemove(id)">Reject</ion-button>
        <!--<button ion-button color="danger" block (click)="confirmRemove(id)">Reject</button>-->
      </ion-col>
    </ion-row>
    <ion-row *ngIf="profile_flag == 0 && active != 1">
      <ion-col class="text-center">
        <strong>You do not have access to approve or remove classifieds. Please contact super admin to get privilege.</strong>
      </ion-col>
    </ion-row>
  </ion-content>
