.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.list-padding
{
    padding-left: 10px;
    padding-right: 10px;
}
