<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>223622782276-vaimaqbj17avkmieq3500tqimcsggfv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223622782276-vaimaqbj17avkmieq3500tqimcsggfv8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223622782276-qu68uf4imrd8j7bco7ui8itrc0rq2b4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_tjGxyVMoP2zX3BdXLzBWa6Lg3QGQfc8</string>
	<key>GCM_SENDER_ID</key>
	<string>223622782276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attuit.way2society</string>
	<key>PROJECT_ID</key>
	<string>way2society-5b8fd</string>
	<key>STORAGE_BUCKET</key>
	<string>way2society-5b8fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223622782276:ios:def68e6f1aec71de</string>
	<key>DATABASE_URL</key>
	<string>https://way2society-5b8fd.firebaseio.com</string>
</dict>
</plist>