<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Latest Feature</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines   style="margin-top:0px;">
      <ion-searchbar ></ion-searchbar>
      <ion-card >
            <ion-card-content >
              <h2><strong>Integration with Security Manager App</strong></h2>
              <ion-row>
                <ion-col col-12 text-right><a class="item" href="#">View Details</a></ion-col>
              </ion-row>
            
          </ion-card-content>
  
        </ion-card>
      </ion-list>
  </ion-content>
