<ion-header >
  <ion-toolbar style="--ion-toolbar-background: var(--ion-color-primary);color: #ffffff;">
    
    <ion-buttons slot="start">
			<ion-back-button defaultHref="login" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-title>New User Registration</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list no-lines>
    <ion-row>
      <ion-col text-center><br><br></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center></ion-col>
      <ion-col size="8" text-center>
       
          <ion-img class="login-img" src="/assets/images/logo.png"></ion-img>
          
          </ion-col>
          <ion-col text-center></ion-col>
          </ion-row>
  </ion-list>
  <br><br>
  <ion-row>
    <ion-col>
      <ion-item>
       <ion-input label="Name" labelPlacement="floating"  type="text" value="" [(ngModel)]="userData.Name"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
       <ion-input label="Email" labelPlacement="floating"  type="text" value="" [(ngModel)]="userData.Email"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
       <ion-input label="Password" labelPlacement="floating"  type="password" value="" [(ngModel)]="userData.Password"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
       <ion-input label="Confirm Password" labelPlacement="floating"  type="password" value="" [(ngModel)]="userData.ConPassword"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
       <ion-input label="Access Code" labelPlacement="floating"  type="text" value="" [(ngModel)]="userData.AccessCode"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col text-center col-10>
  <ion-button color="primary" block (click)="signup()">Sign Up</ion-button>
 </ion-col>
 <ion-col col-1></ion-col>
 </ion-row>	
 <ion-list text-center style="text-align: center;">
  <p style="color:#FF0000;font-size: 14px;" ><strong>{{message}}</strong></p>
</ion-list>
</ion-content>
