<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Add Lease</ion-title>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
	</ion-buttons>
    <ion-buttons slot="end">
      <ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
	<!--<ion-list radio-group [(ngModel)]="addType">
		<ion-row>
			<ion-col text-left col-1>
    			<ion-radio value="2" (ionSelect)="addStatus(2)"></ion-radio>
  			</ion-col>
			<ion-col text-left col-11><strong>Register Rental Agreement from Your Home </strong>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-left col-1>
   				<ion-radio value="1" (ionSelect)="addStatus(1)"></ion-radio>
   			</ion-col>
  			<ion-col text-left col-11>
  				<strong>Add Lease</strong>
  			</ion-col>
  		</ion-row>
	</ion-list>-->
  <ion-list>
	<ion-card>
		<ion-card-content>
			<ion-row style="background-color: #337ab7;color:#fff;">
				<ion-col style="text-align: center;">
					<strong style="font-size: 12px;">Add Tenant Details</strong>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="First Name *" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TFirstName" ></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Middle Name" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TMiddleName" ></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Last Name *" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TLastName" ></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Date Of Birth" labelPlacement="floating"
          				value="{{TenantData.TDob | date: 'dd-MM-yyyy' }}"
          				id="dob" class="ion-text-end">
					</ion-input>
        			<ion-popover trigger="dob" size="cover">
          				<ng-template>
            				<ion-datetime
            					min="1940" max="{{todayDate}}"
              					presentation="dob"
              					[(ngModel)]="TenantData.TDob">
							</ion-datetime>
          				</ng-template>
        			</ion-popover>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Contact No" labelPlacement="floating" type="tel"  value="" [(ngModel)]="TenantData.TContact" ></ion-input>
				</ion-col>
			</ion-row >
			<ion-row>
				<ion-col>
					<ion-input label="Email address" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TEmail" ></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-select label="Profession" placeholder="" [(ngModel)]="TenantData.Tprofession" >
						<ion-select-option *ngFor="let p of profession_array" value="{{p.desg_id}}">{{p.desg}}</ion-select-option>
					</ion-select>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Lease Start Date *" labelPlacement="floating"
          				value="{{TenantData.LeaseStart | date: 'dd-MM-yyyy' }}"
          				id="date" class="ion-text-end">
					</ion-input>
        			<ion-popover trigger="date" size="cover">
          				<ng-template>
            				<ion-datetime
            					min="2018" max="2040"
              					presentation="date"
              					[(ngModel)]="TenantData.LeaseStart">
							</ion-datetime>
          				</ng-template>
        			</ion-popover>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-input label="Lease End Date *" labelPlacement="floating"
          				value="{{TenantData.LeaseEnd | date: 'dd-MM-yyyy' }}"
          				id="date1" class="ion-text-end">
					</ion-input>
        			<ion-popover trigger="date1" size="cover">
          				<ng-template>
            				<ion-datetime
            					min="2018" max="2040"
              					presentation="date1"
              					[(ngModel)]="TenantData.LeaseEnd">
							</ion-datetime>
          				</ng-template>
        			</ion-popover>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="ShowCIN !='1'">
				<ion-col col-10 text-left> Additional people staying in the flat/unit</ion-col>
				<ion-col text-right>
				<ion-checkbox [(ngModel)]="CheckMoreTanent"  checked="false" (ionChange)="CheckMT();"></ion-checkbox>
				</ion-col>
			</ion-row>

			<ion-list *ngIf="ShowMoreTenant =='1'">
				<ion-list >
					  <ion-row style="background-color: #337ab7;color:#fff;">
						  <ion-col text-center>
						  <strong style="font-size: 12px;">Tenant occupying the flat/unit</strong>
						  </ion-col>
					  </ion-row>
				</ion-list>
				<ion-list  *ngFor="let tFamily of TenantData.TenantFamily; let iIndex=index;">
					<hr>
					<ion-row>
					  	<ion-col>
							<ion-input label="Name *" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TenantFamily[iIndex]['Name']" ></ion-input>
						</ion-col>
				   </ion-row>
				   <ion-row>
						<ion-col>
							<ion-input label="Relation *" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TenantFamily[iIndex]['Relation']" ></ion-input>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-input label="Date Of Birth" labelPlacement="floating"
          						value="{{TenantData.TenantFamily[iIndex]['DOB'] | date: 'dd-MM-yyyy' }}"
          						id="date" class="ion-text-end">
							</ion-input>
        					<ion-popover trigger="date" size="cover">
          						<ng-template>
            						<ion-datetime
            						min="1940" max="{{todayDate}}"
              						presentation="date"
              						[(ngModel)]="TenantData.TenantFamily[iIndex]['DOB']">
									</ion-datetime>
          						</ng-template>
        					</ion-popover>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-input label="Contact No" labelPlacement="floating" type="tel"  value="" [(ngModel)]="TenantData.TenantFamily[iIndex]['Contact']" ></ion-input>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<ion-input label="Email address" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TenantFamily[iIndex]['Email']" ></ion-input>
						</ion-col>
					</ion-row>
				</ion-list>
				<ion-row>
					<ion-col style="text-align: right;"><span text-right style="float: right;color: #5cb85c;" (click)="AddMoreTenamtFamily()"><ion-icon name="add-circle" style="font-size:30px;"></ion-icon></span>
					</ion-col>
				</ion-row>
			</ion-list>
			<ion-list>
				<ion-row>
					<ion-col>
						<ion-textarea label="Permanant Address" labelPlacement="floating" value="" [(ngModel)]="TenantData.TAddress" rows="4"></ion-textarea>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input label="City" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TCity" ></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input label="Pincode" labelPlacement="floating" type="tel"  value="" [(ngModel)]="TenantData.TPincode" ></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-textarea label="Note" labelPlacement="floating" value="" [(ngModel)]="TenantData.TNote" rows="4"></ion-textarea>
					</ion-col>
				</ion-row>
			</ion-list>
		</ion-card-content>
	</ion-card>
  	</ion-list>
  	<ion-list>
		<ion-row style="background-color: #337ab7;color:#fff;">
			<ion-col text-center>
				 <strong style="font-size: 12px;">Lease Document </strong>
			</ion-col>
		 </ion-row>
		 <ion-list *ngFor="let tDoc of userData.uploadDoc; let iIndex=index;">
			<ion-row>
				<ion-col>
		   			<ion-input label="Document name" labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.uploadDoc[iIndex]['DocName']" ></ion-input>
			   	</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					Selected file : {{userData.uploadDoc[iIndex]['Doc_img']}}
				  <ion-card>
					<img src="" [hidden]="userData.uploadDoc[iIndex]['Doc_img'] === null" style="max-height : 50vh"
					  (click)="selectItems()">
				  </ion-card>
				  <!--<ion-card>
					<img src="" [hidden]="userData.uploadDoc[iIndex]['Doc_img'] === null" style="max-height : 50vh"
					  (click)="selectItems()">
				  </ion-card>-->
				  <h3 [hidden]="userData.uploadDoc[iIndex]['Doc_img']!== null"></h3>
				  <ion-button shape="round" icon-left (click)="presentActionSheet('document', iIndex)"><ion-buttons text-center>
					<ion-icon slot="start" name="camera"></ion-icon>Select Image
				  </ion-buttons></ion-button>

				</ion-col>
			  </ion-row>
		 </ion-list>
	</ion-list>
	<ion-row>
		<ion-col style="text-align:right ;">
			<p >
			<a class="item"(click)="AddMoreDoc()">Add More Document</a></p>
		</ion-col>
	</ion-row>
	<ion-row style="background-color: #337ab7;color:#fff;">
		<ion-col style="text-align: center;">
			<strong style="font-size: 12px;">Agent Details </strong>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-input label="Agent name" labelPlacement="floating" type="text"  value="" [(ngModel)]="TenantData.TAgentName" ></ion-input>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-input label="Agent Contact No" labelPlacement="floating" type="tel"  value="" [(ngModel)]="TenantData.TAgentNumber" ></ion-input>
	 	</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="3"></ion-col>
		<ion-col size="6" style="text-align: center;">
			<ion-button color="primary" block (click)="submit()"  >Submit</ion-button>
		</ion-col>
		<ion-col size="3"></ion-col>
	</ion-row>
</ion-content>




