<ion-header translucent="true">
  <ion-toolbar>
    
    <ion-title>Member Ledger</ion-title>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
	  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
		<ion-row>
		    <ion-col class="text-center" col-3 >
		    	<strong>Type</strong>
		    </ion-col>
		    <ion-col class="text-center" col-3>
		    	<strong>Date</strong>
		    </ion-col>
		    <ion-col class="text-center">
		    	<strong>Amount</strong>
		    </ion-col>
		    <ion-col class="text-center">
		    	<strong>Balance</strong>
		    </ion-col>
		</ion-row>
	</ion-list>
  <ion-list no-lines *ngFor="let p of particulars" (click)="viewDetails(p)">
		<ion-row>
			<ion-col col-3 *ngIf="p.showIn == '1'">
				<strong>{{p.mode}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '2'">
				<strong>{{p.mode}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '3'">
				<strong>{{p.mode}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '4'">
				<strong>{{p.mode}}</strong>
			</ion-col>

			<!--   Date Section -------->
			<ion-col col-3 *ngIf="p.showIn == '1'">
				<strong>{{p.date}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '2'">
				<strong>{{p.date}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '3'">
				<strong>{{p.date}}</strong>
			</ion-col>
			<ion-col col-3 *ngIf="p.showIn == '4'" >
				<strong>{{p.date}}</strong>
			</ion-col>

			 <!-- Debit Amount-->
		  <ion-col class="text-right" *ngIf="p.debit > '0'" >
		      	(+) {{p.debit}}
		    </ion-col>

		     <ion-col class="text-right" *ngIf="p.credit > '0' && p.mode !='M-Bill' && p.mode !='M-DNote' && p.mode !='SInvoice' && p.mode !='M-CNote' &&  p.showIn!='2'" >
		      	 <strong>(-) {{p.credit}}</strong>
		    </ion-col>
		    <ion-col class="text-right" *ngIf="p.credit > '0' && p.mode !='M-Receipt' && p.mode !='M-DNote' && p.mode !='SInvoice' " >
		      	(-) {{p.credit}}
		    </ion-col>

		   <ion-col class="text-right"  *ngIf="p.mode !='M-Bill' && p.mode !='SInvoice' && p.mode !='M-DNote' &&  p.mode !='M-CNote' ">
		      	<strong>{{p.balance}}</strong>
		    </ion-col>
		    <ion-col class="text-right"  *ngIf="p.mode !='M-Receipt' && p.mode !='Opening Balance'" >
		      	{{p.balance}}
		    </ion-col>
		</ion-row>
  <hr>
	</ion-list>
</ion-content>