<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><!--<ion-icon name="menu"></ion-icon>--></button>
    <ion-title>About Us</ion-title>
    <ion-buttons end>
        <ion-icon><img src="/assets/images/icon_s.png"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

<ion-list no-lines>
      <ion-item text-center>
        
          <img src="/assets/images/logo.png"/>
      
      </ion-item>
  </ion-list>
<ion-row text-center>
	    <ion-col>
	      <strong text-center><h5>Version</h5></strong>
	      <strong text-center><h5></h5></strong>
        <p >
          Available Version : <u></u>
        </p>
	    </ion-col>
</ion-row>
<ion-row>
  <ion-col text-center>
    Copyright © 2018 <u>Way2Society</u><br/>All rights reserved.<br/>
    <!--Design & Developed by<br/>Comnet Consultancy Services-->
  </ion-col>
</ion-row>
</ion-content>