<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Service Provider</ion-title>
    <ion-buttons slot="start">
		<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
	</ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="tab" *ngIf="selected== 1">
    	<ion-segment-button value= "0" (click)="fetchProviders(0)">
        	My Providers
      	</ion-segment-button>
		<ion-segment-button value= "1" (click)="fetchProviders(1)">
        	All Providers
      	</ion-segment-button>
	</ion-segment>
    <ion-segment [(ngModel)]="tab" *ngIf="selected== 2">
     	<ion-segment-button value= "1" (click)="fetchProviders(1)">
        	All Providers
      	</ion-segment-button>
       	<ion-segment-button value= "2" (click)="fetchProviders(2)">
        	Pending
      	</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div><h3 class="text-center" style = "color: red"><strong>{{message}}</strong></h3></div>
  <div [ngSwitch]="tab">
  <!--************************************  MY PROVIDERS  ************************************* -->
  	<ion-list no-lines *ngSwitchCase="0" >
		<ion-searchbar placeholder="Search by category" *ngIf="showSearch" (ionInput)="getItems1($event)"></ion-searchbar>
  			<ion-grid>
      			<ion-list *ngFor="let p of temp_particulars_my_array">{{compare(p.cat_id)}}
					<ion-row [hidden]="">
		  				<ion-col class="text-center bill" >
							<h5><strong>{{p.cat}}</strong></h5>
		  				</ion-col>
					</ion-row>
					<ion-row no-padding>
						<ion-col no-padding style="-webkit-flex-direction:row" >
			  				<ion-card (click)="selectItems(p)" no-padding text-wrap >
								
			  				<!---    *********************** OutSide status **********************************  -->
								<ion-card-content  *ngIf="p.security_status !='1'">
						  		<ion-row>
						    		<ion-col size="3"  *ngIf="p.photo_thumb !=''">
							    		<img src="{{p.Link}}" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: 60px;" onerror="this.src='/assets/images/no-image.jpg';">
						    		</ion-col>
						    		<ion-col size="3"  *ngIf="p.photo_thumb ==''">
							    		<img src="/assets/images/no-image.jpg" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: auto; ">
						    		</ion-col>
						    		<ion-col size="3" class="text-right"><strong>Name :</strong></ion-col>
			          				<ion-col size="6" text-wrap class="text-right">{{p.full_name}}</ion-col>
			        			</ion-row>
			      				<ion-row>
			      					<ion-col size="3" class="text-right"></ion-col>
			    		  			<ion-col size="3" class="text-right" style="margin-top: -12%;"><strong>Staff ID :</strong></ion-col>
			      					<ion-col size="6"  text-wrap class="text-right" style="margin-top: -12%;">{{p.society_staff_id}}</ion-col>
			      				</ion-row>
						  		<ion-row  *ngIf="p.active == 1 " style="margin-right: -54px;">
			    		  			<ion-col size="2"></ion-col>
              						<ion-col size="3" class="text-right" style="margin-top: -20px;" *ngIf="p['Review'][0]['Rating'] > 0" >
              							<STRONG > Rating :</STRONG>
            						</ion-col>
			    		  			<ion-col size="2" class="text-left" style="margin-top: -20px;"  *ngIf="p['Review'][0]['Rating'] > 0">
			    			  			<STRONG >{{p['Review'][0]['Rating']}}</STRONG>
   						    			<ion-icon name="star" style="color:gold" ></ion-icon>
                					</ion-col>
                					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 1 || p['Review'][0]['Rating'] > 1 && p['Review'][0]['Rating'] < 2"  style="margin-top: -20px;color:#ff6161;float: left;margin-left: -85px;"><strong>Poor</strong></ion-col>
              						<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 2 || p['Review'][0]['Rating'] > 2  && p['Review'][0]['Rating'] < 3"  style="margin-top: -20px; color:#ff9f00;float: left;margin-left: -102px;"><strong>Average</strong></ion-col>
              						<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 3 || p['Review'][0]['Rating'] > 3  && p['Review'][0]['Rating'] < 4"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -115px;"><strong>Good</strong></ion-col>
              						<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 4 || p['Review'][0]['Rating'] > 4 && p['Review'][0]['Rating'] < 5"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -115px;"><strong>Very Good</strong></ion-col>
              						<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 5" style="color:#388e3c;margin-top: -10px;float: left;margin-left: -115px;"><strong>Excellent</strong></ion-col>
						  		</ion-row>
			    				<span *ngIf="p.IsBlock ==1">
									<img src="/assets/images/block.png" style="width: 40%;height: auto; margin-left: 120px; margin-top: -80px;">
								</span>
			    				<ion-row *ngIf="p.active == 0" style="margin-top: -10px;">
			    		  			<ion-col class="text-right">
			    			  			<STRONG style="color:red; font-size: 15px;">Not approved</STRONG>
			    		  			</ion-col>
			    				</ion-row>
			  				</ion-card-content>

			      		<!---    *********************** Inside status **********************************  -->
			  			<ion-card-content  *ngIf="p.security_status =='1'" style="background-color: aquamarine !important;">
						  	<ion-row>
						    	<ion-col size="3"  *ngIf="p.photo_thumb !=''">
							    	<img src="{{p.Link}}" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: 60px;" onerror="this.src='/assets/images/no-image.jpg';">
						    	</ion-col>
						    	<ion-col size="3"  *ngIf="p.photo_thumb ==''">
						      		<img src="/assets/images/no-image.jpg" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: auto; ">
						    	</ion-col>
						    	<ion-col size="3" class="text-right"><strong>Name :</strong></ion-col>
			      				<ion-col size="6" text-wrap class="text-right">{{p.full_name}}</ion-col>
			      			</ion-row>
			      			<ion-row>
			      				<ion-col size="3" class="text-right"></ion-col>
			    		  		<ion-col size="3" class="text-right" style="margin-top: -12%;"><strong>Staff ID :</strong></ion-col>
			      				<ion-col size="6"  text-wrap class="text-right" style="margin-top: -12%;">{{p.society_staff_id}}</ion-col>
						  	</ion-row>
						  	<ion-row  *ngIf="p.active == 1 " style="margin-right: -54px;">
			    		  		<ion-col size="2"></ion-col>
              					<ion-col size="3" class="text-right" style="margin-top: -20px;" *ngIf="p['Review'][0]['Rating'] > 0" >
              						<STRONG > Rating :</STRONG>
            					</ion-col>
			    				<ion-col size="2" class="text-left" style="margin-top: -20px;"  *ngIf="p['Review'][0]['Rating'] > 0"><STRONG >{{p['Review'][0]['Rating']}}</STRONG>
   						  			<ion-icon name="star" style="color:gold" ></ion-icon>
              					</ion-col>
              					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 1 || p['Review'][0]['Rating'] > 1 && p['Review'][0]['Rating'] < 2"  style="margin-top: -20px;color:#ff6161;float: left;margin-left: -85px;"><strong>Poor</strong></ion-col>
             					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 2 || p['Review'][0]['Rating'] > 2  && p['Review'][0]['Rating'] < 3"  style="margin-top: -20px; color:#ff9f00;float: left;margin-left: -102px;"><strong>Average</strong></ion-col>
              					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 3 || p['Review'][0]['Rating'] > 3  && p['Review'][0]['Rating'] < 4"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -115px;"><strong>Good</strong></ion-col>
              					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 4 || p['Review'][0]['Rating'] > 4 && p['Review'][0]['Rating'] < 5"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -115px;"><strong>Very Good</strong></ion-col>
              					<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 5" style="color:#388e3c;margin-top: -10px;float: left;margin-left: -105px;"><strong>Excellent</strong></ion-col>
							</ion-row>
			    			<span *ngIf="p.IsBlock ==1">
								<img src="/assets/images/block.png" style="width: 40%;height: auto; margin-left: 120px; margin-top: -80px;">
							</span>
			    			<ion-row *ngIf="p.active == 0" style="margin-top: -10px;">
			    				<ion-col size="5">
			    					<STRONG style="color:red; font-size: 15px;">Not approved</STRONG>
			    				</ion-col>
			    			</ion-row>
			  			</ion-card-content>
					</ion-card>
			  	</ion-col>
		  	</ion-row>
	  	</ion-list>
    	</ion-grid>
  	</ion-list>
	<!--************************************  ALL PROVIDERS  ************************************* -->
	<ion-list no-lines *ngSwitchCase="1">
		<ion-searchbar  placeholder="Search by category" *ngIf = "showSearch" (ionInput)="getItems2($event)"></ion-searchbar>
			<ion-grid>
				<ion-list *ngFor="let p of temp_particulars_all_array">{{compare(p.cat_id)}}
					<ion-row [hidden]="flag">
					  	<ion-col class="text-center bill">
							<h5><strong>{{p.cat}}</strong></h5>
					  	</ion-col>
					</ion-row>
					<ion-row no-padding>
						<ion-col no-padding style="-webkit-flex-direction:row" >
						  	<ion-card (click)="selectItems(p)" no-padding text-wrap >
							  <!---    *********************** OutSide status **********************************  -->
								<ion-card-content  *ngIf="p.security_status !='1'">
									<ion-row>
										<ion-col size="3"  *ngIf="p.photo_thumb !=''">
											<img src="{{p.Link}}" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: 60px;" onerror="this.src='/assets/images/no-image.jpg';">
										</ion-col>
										<ion-col size="3"  *ngIf="p.photo_thumb ==''">
											<img src="/assets/images/no-image.jpg" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: auto; ">
										</ion-col>
										<ion-col size="3" class="text-right"><strong>Name :</strong></ion-col>
							  			<ion-col size="6" text-wrap class="text-right">{{p.full_name}}</ion-col>
							  		</ion-row>
							  		<ion-row>
							  			<ion-col size="3" class="text-right"></ion-col>
										<ion-col size="3" class="text-right" style="margin-top: -12%;"><strong>Staff ID :</strong></ion-col>
							  			<ion-col size="6"  text-wrap class="text-right" style="margin-top: -12%;">{{p.society_staff_id}}</ion-col>
									</ion-row>
									<ion-row  *ngIf="p.active == 1 && p['Review'][0]['Rating'] > 0" style="margin-right: -85px;">
							  			<ion-col size="2"></ion-col>
							  			<ion-col size="3" class="text-right" style="margin-top: -20px;" *ngIf="p['Review'][0]['Rating'] > 0" >
								  			<STRONG > Rating :</STRONG>
										</ion-col>
										<ion-col size="2" class="text-left" style="margin-top: -20px;"><STRONG >{{p['Review'][0]['Rating']}}</STRONG>
							   				<ion-icon name="star" style="color:gold" ></ion-icon>
							  			</ion-col>
							  			<ion-col size="5" class="text-center" *ngIf="p['Review'][0]['Rating'] == 0" style="">Be the first to rate</ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 1 || p['Review'][0]['Rating'] > 1 && p['Review'][0]['Rating'] < 2"  style="margin-top: -20px;color:#ff6161;float: left;margin-left: -85px;"><strong>Poor</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 2 || p['Review'][0]['Rating'] > 2  && p['Review'][0]['Rating'] < 3"  style="margin-top: -20px; color:#ff9f00;float: left;margin-left: -103px;"><strong>Average</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 3 || p['Review'][0]['Rating'] > 3  && p['Review'][0]['Rating'] < 4"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -117px;"><strong>Good</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 4 || p['Review'][0]['Rating'] > 4 && p['Review'][0]['Rating'] < 5"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -105x;"><strong>Very Good</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 5" style="color:#388e3c;margin-top: -10px;float: left;margin-left: -105px;"><strong>Excellent</strong></ion-col>
									</ion-row>
									<span *ngIf="p.IsBlock ==1">
										<img src="/assets/images/block.png" style="width: 40%;height: auto; margin-left: 135px; margin-top: -80px;">
									</span>
							  	</ion-card-content>
	
							   <!---    *********************** Inside status **********************************  -->
							   <ion-card-content  *ngIf="p.security_status =='1'" style="background-color: aquamarine !important;" >
									<ion-row>
										<ion-col size="3"  *ngIf="p.photo_thumb !=''">
											<img src="{{p.Link}}" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: 60px;" onerror="this.src='/assets/images/no-image.jpg';">
										</ion-col>
										<ion-col size="3"  *ngIf="p.photo_thumb ==''">
											<img src="/assets/images/no-image.jpg" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: auto; ">
										</ion-col>
										<ion-col size="3" class="text-right"><strong>Name :</strong></ion-col>
							  			<ion-col size="6" text-wrap class="text-right">{{p.full_name}}</ion-col>
							  		</ion-row>
							  		<ion-row>
							  			<ion-col size="3" class="text-right"></ion-col>
										<ion-col size="3" class="text-right" style="margin-top: -12%;"><strong>Staff ID :</strong></ion-col>
							  			<ion-col size="6"  text-wrap class="text-right" style="margin-top: -12%;">{{p.society_staff_id}}</ion-col>
									</ion-row>
									<ion-row  *ngIf="p.active == 1 && p['Review'][0]['Rating'] > 0" style="margin-right: -85px;">
							  			<ion-col size="2"></ion-col>
							  			<ion-col size="3" class="text-right" style="margin-top: -20px;" *ngIf="p['Review'][0]['Rating'] > 0" >
								  			<STRONG > Rating :</STRONG>
										</ion-col>
										<ion-col size="3" class="text-left" style="margin-top: -20px;"><STRONG >{{p['Review'][0]['Rating']}}</STRONG>
							   				<ion-icon name="star" style="color:gold" ></ion-icon>
							  			</ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 0" style="">Be the first to rate</ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 1 || p['Review'][0]['Rating'] > 1 && p['Review'][0]['Rating'] < 2"  style="margin-top: -20px;color:#ff6161;float: left;margin-left: -85px;"><strong>Poor</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 2 || p['Review'][0]['Rating'] > 2  && p['Review'][0]['Rating'] < 3"  style="margin-top: -20px; color:#ff9f00;float: left;margin-left: -103px;"><strong>Average</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 3 || p['Review'][0]['Rating'] > 3  && p['Review'][0]['Rating'] < 4"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -117px;"><strong>Good</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 4 || p['Review'][0]['Rating'] > 4 && p['Review'][0]['Rating'] < 5"  style="margin-top: -20px; color:#388e3c;float: left;margin-left: -105px;"><strong>Very Good</strong></ion-col>
							  			<ion-col size="5" class="text-right" *ngIf="p['Review'][0]['Rating'] == 5" style="color:#388e3c;margin-top: -10px;float: left;margin-left: -105px;"><strong>Excellent</strong></ion-col>
									</ion-row>
									<span *ngIf="p.IsBlock ==1">
										<img src="/assets/images/block.png" style="width: 40%;height: auto; margin-left: 135px; margin-top: -80px;">
									</span>
							  	</ion-card-content>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-list>
			</ion-grid>
		</ion-list>
		<!--************************************  PENDING PROVIDERS  ************************************* -->
		<ion-list no-lines *ngSwitchCase= "2">
			<ion-searchbar  placeholder="Search by category" *ngIf = "showSearch" (ionInput)="getItems3($event)"></ion-searchbar>
			<ion-grid>
      			<ion-list  *ngFor="let p of this.temp_particulars_pending_array">{{compare(p.cat_id)}}
					<ion-row [hidden]="flag">
		  				<ion-col class="text-center bill">
							<h5><strong>{{p.cat}}</strong></h5>
		  				</ion-col>
					</ion-row>
					<ion-row no-padding>
						<ion-col no-padding style="-webkit-flex-direction:row" >
			  				<ion-card (click)="selectItems(p)" no-padding text-wrap >
								<ion-card-content>
									<ion-row>
										<ion-col size="3"   *ngIf="p.photo_thumb !=''">
											<img src="{{p.Link}}" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: 60px;" onerror="this.src='/assets/images/no-image.jpg';">
										</ion-col>
										<ion-col size="3"  *ngIf="p.photo_thumb ==''">
											<img src="/assets/images/no-image.jpg" style="border-radius: 50%;background-position: center center;background-size: cover;width: 100%;height: auto; ">
										</ion-col>
										<ion-col size="3" class="text-right"><strong>Name :</strong></ion-col>
			      						<ion-col size="6" text-wrap class="text-right">{{p.full_name}}</ion-col>
			      					</ion-row>
			      					<ion-row>
			      						<ion-col size="3" class="text-right"></ion-col>
			    						<ion-col size="3" class="text-right" style="margin-top: -12%;"><strong>Staff ID :</strong></ion-col>
			      						<ion-col size="6"  text-wrap class="text-right" style="margin-top: -12%;">{{p.society_staff_id}}</ion-col>
									</ion-row>
								</ion-card-content>
			 				</ion-card>
						</ion-col>
					</ion-row>
				</ion-list>
			</ion-grid>
		</ion-list>
	</div> 
	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button (click)="addServiceProvider()" style="background-color: #f6f6f6;">
		  <ion-icon name="add" style="color:#fff;font-size:30px;"></ion-icon>
		</ion-fab-button>
	</ion-fab>

<!--<p id="msg" text-center style="color: red;"></p>
	<ion-fab right bottom>
      <button ion-fab (click)="addServiceProvider()" style="background-color: #f6f6f6;">
        <ion-icon name="create" style="color:#5cb85c;font-size:30px;"></ion-icon>
      </button>
    </ion-fab>-->
</ion-content>