ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-item {
  --inner-padding-end: 0; // Adjust padding as needed
}

.payment-note {
  display: flex;
  align-items: center; // Vertically align icon and text

  .success-icon {
    margin-right: 8px;
    color: var(--ion-color-success); // Or your preferred color
  }
}

.ion-text-right {
  text-align: right;
}

.submit-container {
  padding: 16px;
}

.bill-details-grid {
  margin-top: 8px;
}

.amount-row {  // Styles for due amount and pay amount row
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;

  .pay-amount-input {
    width: 45%;
  }

}

ion-textarea {
  margin-top: 8px; // Add spacing above the comment field
  height: 3em;
  width: 100%;
}

.total-amount {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.redirect-message {
  margin-top: 8px;
  font-size: 0.85em; /* Slightly smaller font size */
  color: var(--ion-color-medium);
  text-align: center;
}
