<ion-header>
  <ion-navbar>
    <ion-title>Select Society</ion-title>
    <ion-buttons end>
      <button  style="background-color: #f6f6f6;">
        <ion-icon name="log-out" color="danger" style="font-size:30px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
      <ion-item text-center>
        <ion-icon>
          <img src="/assets/images/logo.png"/>
        </ion-icon>
      </ion-item>
  </ion-list>
  <ion-title text-center></ion-title>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col>Demo Society [Admin]</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <!--<ion-list radio-group [(ngModel)]="societyMap" no-lines *ngFor="let m of maps" >
  	<ion-item text-wrap *ngIf="isMember(m.role)">
      <ion-row *ngIf="m.checked">
        <ion-col (click)="societySelected(m)" col-10>
          <strong>{{m.society}} [{{m.role}}]</strong>
        </ion-col>
      
        <ion-col text-right>
          <ion-icon name="checkmark" color="green" col-2></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row  *ngIf="!m.checked">
        <ion-col (click)="societySelected(m)" col-10>
          {{m.society}} [{{m.role}}]
        </ion-col>
        <ion-col col-2>
        </ion-col>
      </ion-row>
  	</ion-item>
	</ion-list>-->
</ion-content>
