<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>NEFT Payment Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="payment" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


  <ion-content padding>
	<ion-list no-lines>
		<ion-row>
		    <ion-col col-5>
		    	<strong>Date</strong>
		    </ion-col>
		    <ion-col text-center style="text-align: center;">
		      	<strong>Mode</strong>
		    </ion-col>
		    <ion-col text-right style="text-align: right;">
		      	<strong>Amount</strong>
		    </ion-col>
	  	</ion-row>
	</ion-list>
  	<ion-list no-lines *ngFor="let p of particulars" (click)="viewReceipt(p.period)">
	  	<ion-row>
		    <ion-col col-5>
		      	{{p.date}}
		    </ion-col>
		    <ion-col text-center>
		      	{{p.mode}}
		    </ion-col>
		    <ion-col text-right style="text-align: right;">
		      	{{p.amount}}
		    </ion-col>
	  	</ion-row>
	  	<hr>
	</ion-list>
</ion-content>

