<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Feature Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="features" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-content>
          <ion-card-title style="font-size: x-large;">{{Title}}</ion-card-title>
     	<ion-row *ngIf="Images!= '' || Attachment != '' ">
     		<ion-col *ngIf="Images != ''">
     			<a  (click)= viewImage(Images)>View image</a>
     		</ion-col>
     		<ion-col *ngIf="Attachment != ''">
     			<a  (click)="attachment(Attachment)">View attachment</a>
     		</ion-col>
     	</ion-row>
          <p id="notice_details"></p>
      </ion-card-content>
    </ion-card>
</ion-content>
