<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Add New Request </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="servicerequest" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="Block_unit==1">
  <ion-list no-lines style="padding-left: 10px;padding-right: 10px;">
    <ion-row>
      <ion-col text-center style="text-align: center;">
        <h2 style="color: red;">Access Denied!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center style="text-align: center;">
        <p style="white-space: initial;color: red; ">We are sorry, but your access has been blocked for this feature.
          Please contact your Managing Committee for resolution.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center style="text-align: center;">
        <p><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase; color: red;">
            {{Block_desc}}</span> </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="Block_unit==0">
  <ion-list no-lines style="padding-left: 10px;padding-right: 10px;">
    <p text-center style="color:#FF0000;text-align: center;"><strong>{{message}}</strong></p>
    <ion-row>
      <ion-col>
        <ion-input label="Title " labelPlacement="floating" type="text" value=""
          [(ngModel)]="userData.title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="rolewise == 'Admin'">
      <ion-col size="8">
        <ion-select label="Select Unit *" label-placement="fixed" placeholder="Select Unit *"
          [(ngModel)]="userData.unit_id">
          <ion-select-option *ngFor="let u of Unit_list" value="{{u.unit_id}}">{{u.unit_no}} [ {{u.owner_name}}
            ]</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <!--<ion-select label="Fixed label" label-placement="fixed" placeholder="Favorite fruit">-->
        <ion-select label="Category" label-placement="fixed" placeholder="Select Category"
          [(ngModel)]="userData.category">
          <ion-select-option *ngFor="let d of cat_list" value="{{d.ID}}">{{d.category}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-select label="Priority" label-placement="fixed" placeholder="Select Priority"
          [(ngModel)]="userData.priority">
          <ion-select-option text-wrap value=Low>Low</ion-select-option>
          <ion-select-option text-wrap value=Medium>Medium</ion-select-option>
          <ion-select-option text-wrap value=High>High</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row style="margin-top: -5px;"
      *ngIf="(userData.category != renovationRequestId) && (userData.category != AddressProofId) && (userData.category != tenantRequestId)">
      <ion-col>
        <ion-textarea label="Details" labelPlacement="floating" value="" [(ngModel)]="userData.details"
          rows="4"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(userData.category != renovationRequestId) && (userData.category != AddressProofId)">
      <ion-col>
        <!-- <ion-list>
          <ion-item *ngFor="let file of images; let i = index">
            <ion-thumbnail slot="start">
              <ion-img [src]="file.data"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-text-wrap"> {{ file.name }} </ion-label>

          </ion-item>
        </ion-list> -->
        <ion-card>
          <img [src]=" images[0]?.data" [hidden]="images.length<1" style="max-height : 50vh" (click)="selectItems()">
        </ion-card>
        <!--<ion-card>
          <img src="{{pathForImage1(lastImage)}}" [hidden]="lastImage === null" style="max-height : 50vh"
            (click)="selectItems()">
          </ion-card>-->
        <h3 [hidden]="images.length>0"></h3>
        <ion-button shape="round" icon-left (click)="presentActionSheet()"><ion-buttons text-center>
            <ion-icon slot="start" name="camera"></ion-icon>Select Image
          </ion-buttons></ion-button>

      </ion-col>
    </ion-row>
    <!--<ion-list *ngIf="(userData.category != renovationRequestId) && (userData.category != AddressProofId) && (userData.category != tenantRequestId)">-->
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <ion-button color="primary" block (click)="create()">Create Request</ion-button>
        <!--<button ion-button color="primary" block (click)="create()">Create Request</button>-->
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <p style="color: #FF0000;text-align: center;">{{message}}</p>
    <!--</ion-list>

      <ion-list *ngIf="(userData.category == renovationRequestId) || (userData.category == AddressProofId) || (userData.category == tenantRequestId)">
        <ion-row>
          <ion-col col-2></ion-col>
          <ion-col col-8>
            <ion-button color="primary" block (click)="create()">Next</ion-button>

          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
        <p style="color: #FF0000;text-align: center;">{{message}}</p>
      </ion-list>-->
  </ion-list>
</ion-content>
