<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Tenants</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="3"><strong >Unit No</strong></ion-col>
          <ion-col class="text-right">{{tenant.unit_no}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><strong>Tenant Name</strong></ion-col>
          <ion-col class="text-right">{{tenant.tenant_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"><strong>Contact no.</strong></ion-col>
          <ion-col class="text-right">{{tenant.contact_no}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"><strong>Email</strong></ion-col>
          <ion-col class="text-right">{{tenant.email}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"><strong>Start Date</strong></ion-col>
          <ion-col class="text-right">{{tenant.start_date}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"><strong>End Date</strong></ion-col>
          <ion-col class="text-right">{{tenant.end_date}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="text-left"><strong>Members : &nbsp;&nbsp;</strong> {{tenant.members}}</ion-col >
          <ion-col size="7" class="text-right"><strong>Status : &nbsp;&nbsp;</strong>{{status[tenant.active]}}</ion-col>
        </ion-row>
        <ion-row *ngIf="tenant.agent_name!=''" >
          <ion-col size="4"><strong>Agent Name </strong></ion-col >
          <ion-col class="text-right">{{tenant.agent_name}}</ion-col>
        </ion-row>
        <ion-row *ngIf="tenant.agent_no!=''">
          <ion-col size="6" class="text-left"><strong>Agent Contact no. </strong></ion-col>
          <ion-col class="text-right">{{tenant.agent_no}}</ion-col>
        </ion-row>
        <ion-row *ngIf="tenant_note!=''">
          <ion-col size="6"><strong>Description : </strong></ion-col>
        </ion-row>
        <p style="padding-left: 5px; padding-right: 5px;white-space: pre-line;">{{tenant_note}}</p>
        <p style="padding-left: 5px;padding-right: 5px;" id="additional_text"> </p>
        <br/>
        <br />
        <!--<ion-list  *ngIf = "admin == 1 && tenant.active == 0 || tenant.active == 2" >
          <ion-row *ngIf = "info != '1' && profile_flag != 0">
            <ion-col class="text-center" size="6">
              <button ion-button block (click)="confirmApprove(tenant.tenant_id)" style="background-color:mediumseagreen">Approve</button>
            </ion-col>
            <ion-col class="text-center" size="6" >
              <button ion-button block (click)="getInfo()" style="background-color:#0099ff"  text-wrap>Get more Info.</button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="profile_flag == 0 ">
            <ion-col class="text-center">
              <strong>You do not have access to approve tenants. Please contact super admin to get privilege.</strong>
            </ion-col>
          </ion-row>
        </ion-list>-->
      </ion-card-content>
    </ion-card>
  </ion-list>
  <!--<ion-list  *ngIf = "info == '1'">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Comment</ion-label>
          <ion-input type="text" value="" [(ngModel)]="userInfo.comment"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col class="text-center" size="6" >
            <button ion-button block (click)="getMoreInfo(tenant.tenant_id)" color="primary"  text-wrap>Submit</button>
          </ion-col>
          <ion-col class="text-center" size="6" >
            <button ion-button block (click)="cancle()" color="danger"  text-wrap>Cancle</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>-->
</ion-content>
  
