<ion-content padding>
  <ion-list no-lines>
    <ion-row>
      <ion-col text-center><br><br></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center></ion-col>
      <ion-col size="8" text-center>

        <ion-img class="login-img" src="/assets/images/logo.png"></ion-img>

      </ion-col>
      <ion-col text-center></ion-col>
    </ion-row>
  </ion-list>
  <br><br>
  <ion-list no-lines style="padding-left: 10px;padding-right: 10px;">

    <ion-row>
      <ion-col size="12">
        <!-- <ion-label floating>Username</ion-label>-->
        <!--<ion-input type="text" value="" [(ngModel)]="userData.Email" ></ion-input>-->
        <ion-input label="Username1" labelPlacement="floating" type="text" value=""
          [(ngModel)]="userData.Email"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <!--<ion-label floating>Password</ion-label>-->
        <ion-input label="Password" labelPlacement="floating" type="password" value=""
          [(ngModel)]="userData.Password"></ion-input>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-button class="sign-btn" color="primary" block (click)="signin()">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col size="12">
        <a text-right class="item" (click)="openForgotPasswordLink()">
          Forgot Password ?
        </a>

        <!--<a text-right class="item" (click)="launch()" >
          OPEN PAGE
       </a>-->
      </ion-col>
    </ion-row>
    <!--<ion-button class="sign-btn" color="primary" block (click)="launch()" >Browser</ion-button>-->
    <!-- <ion-row>
          <ion-col size="12" > 
            <a text-right class="item" (click)="launch1()" >
              OPEN PAGE
           </a>
        </ion-col>
        </ion-row> 
       -->
    <!-- <ion-row>
          <ion-col size="12" > 
        <a text-right class="item"  (click)="openActivationLink()">
        New Account Activation
        </a>
        </ion-col>
        </ion-row> -->




    <ion-list text-center style="text-align: center;">
      <p style="color:#FF0000;"><strong>{{message}}</strong></p>
    </ion-list>
  </ion-list>
  <!--<ion-button class="sign-btn" color="primary" block (click)="GetData()" >Get Data</ion-button>
  <ion-list *ngFor="let f of films">
    <ion-row>
      <ion-col>{{f.title}}</ion-col>
      
    </ion-row>
    </ion-list>-->
</ion-content>