<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Manage Member</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="profile" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="Block_unit==1">
  <ion-list no-line >
    <ion-row>
      <ion-col text-center>
        <h2 style="color: red;">Access Denied!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p style="white-space: initial;color: red;">We are sorry, but your access has been blocked for this feature. Please contact your Managing Committee for resolution.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p ><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase;color: red;"> {{Block_desc}}</span> </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="Block_unit==0">
	<ion-list no-lines>
		<ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col style="text-align: center;">
			  <strong >{{page_title}}</strong>
        <p style="color:#FF0000;" ><strong>{{message}}</strong></p>
		  </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <!--<ion-label floating>Member Name *</ion-label>-->
        <ion-input label="Member Name * " labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.other_name" ></ion-input>
        
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Relation With Owner * " labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.relation" ></ion-input>
     </ion-col>      
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Mobile No. * " labelPlacement="floating" type="tel"  value="" [(ngModel)]="userData.other_mobile" ></ion-input>
     </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Email ID " labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.other_email" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Adhaar No. " labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.other_adhaar" ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-select label="Gender" placeholder="select gender" style="color:#0d0d0d" [(ngModel)]="userData.other_gender">
					<ion-select-option value="Male">Male</ion-select-option>
					<ion-select-option value="Female">Female</ion-select-option>
					<ion-select-option value="Other">Other</ion-select-option>
				</ion-select>
       </ion-col>
      </ion-row>
     
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-select label="Publish Contact" placeholder="" style="color:#0d0d0d" [(ngModel)]="userData.other_publish_contact" >
            <ion-select-option value="0">No</ion-select-option>
            <ion-select-option value="1">Yes</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-select label="Receive Notifications" placeholder="" style="color:#0d0d0d" [(ngModel)]="userData.send_commu_emails" >
            <ion-select-option value="0">No</ion-select-option>
            <ion-select-option value="1">Yes</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-select label="Blood Group" placeholder="" style="color:#0d0d0d" [(ngModel)]="userData.child_bg" >
            <ion-select-option value=1>A -ve</ion-select-option>
            <ion-select-option value=2>A +ve</ion-select-option>
            <ion-select-option value=3>B -ve</ion-select-option>
            <ion-select-option value=4>B +ve</ion-select-option>
            <ion-select-option value=5>AB -ve</ion-select-option>
            <ion-select-option value=6>AB +ve</ion-select-option>
            <ion-select-option value=7>O -ve</ion-select-option>
            <ion-select-option value=8>O +ve</ion-select-option>
            <ion-select-option value=9>Don't Know</ion-select-option>
          </ion-select>
        </ion-col>
        </ion-row>
        <ion-row style="padding-left: 10px;padding-right: 10px;">
          <ion-col>
          <ion-input label="Date Of Birth" labelPlacement="floating"
          value="{{ userData.other_dob | date: 'dd-MM-yyyy' }}"
          id="date"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime style="background: #ffffff;"
            min="{{userData.other_dob}}" max="{{max_year}}"
              presentation="date"
              [(ngModel)]="userData.other_dob"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
        </ion-col>
      </ion-row>

      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
        <ion-input label="Wedding Anniversary" labelPlacement="floating"
        value="{{ userData.other_wed | date: 'dd-MM-yyyy' }}"
        id="date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime style="background: #ffffff;"
          min="{{userData.other_wed}}" max="{{max_year}}"
            presentation="date"
            [(ngModel)]="userData.other_wed"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
      </ion-col>
    </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-select label="Designation/Profession" placeholder="" style="color:#0d0d0d" [(ngModel)]="userData.other_desg" >
            <ion-select-option *ngFor="let d of desg_list" value="{{d.desg_id}}">{{d.desg}}</ion-select-option>
          </ion-select>
        </ion-col>  
      </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-input label="School/College/Company " labelPlacement="floating" type="text"  value="" [(ngModel)]="userData.ssc" ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-textarea label="Professional Profile" labelPlacement="floating" value="" [(ngModel)]="userData.other_profile" rows="4"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col>
          <ion-select label="Publish Profile" placeholder="" style="color:#0d0d0d" [(ngModel)]="userData.other_publish_profile" >
            <ion-select-option value="0">No</ion-select-option>
            <ion-select-option value="1">Yes</ion-select-option>
          </ion-select>
        </ion-col> 
      </ion-row>

       
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col style="text-align: center;">
          <p style="color:#FF0000;" ><strong>{{message}}</strong></p>
        </ion-col>
      </ion-row>
      <ion-row style="padding-left: 10px;padding-right: 10px;">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
      
          <ion-button color="primary" block (click)="submit()"  style="height: 35px;">Add Member</ion-button>
        
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
  </ion-list>
</ion-content>
