<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Tenants</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="active" (click)="fetchTenants()">
        <strong>Active</strong>
      </ion-segment-button>
      <ion-segment-button value="pending">
        <strong>Pending</strong>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<!-- // link issue -->
<ion-content padding *ngIf="Block_unit==1">
  <ion-list no-line>
    <ion-row>
      <ion-col class="text-center">
        <h5 style="color: red;">Access Denied!</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p style="white-space: initial;color: red;">We are sorry, but your access has been blocked for this feature.
          Please contact your Managing Committee for resolution.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center">
        <p><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase;color: red;">
            {{Block_desc}}</span> </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-content padding *ngIf="Block_unit==0">
  <div [ngSwitch]="tab">
    <ion-list no-lines *ngSwitchCase="'active'">
      <ion-searchbar (ionInput)="getItems1($event)"></ion-searchbar>
      <ion-card *ngFor="let p of temp_Tenants_active_array">
        <ion-card-content (click)="selectActiveTenants(p)" no-padding text-wrap>
          <ion-row style="background-color: #337ab7;color:#fff;">
            <ion-col class="text-center"><strong>{{p.tenant_name}} - [ {{p.unit_no}} ]</strong></ion-col>
          </ion-row>
          <br />
          <ion-row>
            <ion-col size="4"><strong>Contact no. :</strong></ion-col>
            <ion-col class="text-right">{{p.contact_no}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Email :</strong></ion-col>
            <ion-col class="text-right">{{p.email}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Start Date :</strong></ion-col>
            <ion-col class="text-right">{{p.start_date}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>End Date :</strong></ion-col>
            <ion-col class="text-right">{{p.end_date}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-left"><strong>Member :</strong> {{p.members}}<br></ion-col>
            <ion-col size="6" class="text-right"><strong>Status :</strong> Active<br></ion-col>
          </ion-row>
          <br />
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list no-lines *ngSwitchCase="'pending'">
      <ion-searchbar (ionInput)="getItems2($event)"></ion-searchbar>
      <ion-card *ngFor="let p of temp_Tenants_pending_array">
        <ion-card-content (click)="selectPendingTenants(p)" no-padding text-wrap>
          <ion-row style="background-color: #337ab7;color:#fff;">
            <ion-col class="text-center"><strong>{{p.tenant_name}} - [ {{p.unit_no}} ]</strong></ion-col>
          </ion-row>
          <br />
          <ion-row>
            <ion-col size="4"><strong>Contact no. :</strong></ion-col>
            <ion-col class="text-right">{{p.contact_no}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Email :</strong></ion-col>
            <ion-col class="text-right">{{p.email}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Start Date :</strong></ion-col>
            <ion-col class="text-right">{{p.start_date}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>End Date :</strong></ion-col>
            <ion-col class="text-right">{{p.end_date}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="text-left"><strong>Member :</strong> {{p.members}}<br></ion-col>
            <ion-col size="6" class="text-right"><strong>Status :</strong> Pending<br></ion-col>
          </ion-row>
          <br />
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>