<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Notice Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="notices" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-content>
          <ion-card-title style="font-size: x-large;">{{notice_subject}}</ion-card-title>
          <p><ion-icon name="calendar" primary>&nbsp;</ion-icon>Post Date : &nbsp;{{notice_date}}</p>
          <p *ngIf="notice_expiry !='0000-00-00'"><ion-icon name="calendar" danger>&nbsp;</ion-icon>Expiry Date : &nbsp;{{notice_expiry}}</p>
            <p *ngIf="notice_expiry =='0000-00-00'"><ion-icon name="calendar" danger>&nbsp;</ion-icon>Expiry Date : &nbsp; No expiry</p>
           <!--<a *ngIf=hasLink class="item" href="#" (click)="openWithSystemBrowser()">
            <br />View Attachment<br />
          </a>-->
          <ion-list style="text-align: right;">
          <a *ngIf=hasLink  (click)="openWithSystemBrowser()"> View Attachment</a>
          <br />
          </ion-list>
          <!--<button ion-button (click)="openWithSystemBrowser('https://way2society.com')">Open with System browser</button>-->
          <p id="notice_details"></p>
      </ion-card-content>
    </ion-card>
</ion-content>
