<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Fine Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="viewimposefine" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-card>
        <ion-card-content>
          <ion-card-title><strong></strong></ion-card-title>
           <ion-row>
            <ion-col size="3">
              <strong *ngIf="unit_presantation== 1">Unit No</strong>
              <strong *ngIf="unit_presantation== 2">Flat No</strong>
              <strong *ngIf="unit_presantation== 3">Shop No</strong>
              <strong *ngIf="unit_presantation== 4">Plot No</strong>
              <strong *ngIf="unit_presantation== 5">Gala No</strong>
              <strong *ngIf="unit_presantation== 6">Bunglow No</strong>
              <strong *ngIf="unit_presantation== 7">Room No</strong>
            </ion-col>
            <ion-col class="text-right">{{unit_no}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Owner Name</strong></ion-col>
            <ion-col class="text-right"><strong>{{member_name}}</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"><strong>Entered By</strong></ion-col>
            <ion-col class="text-right"><strong>{{reportedBy}}</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5"><strong>Billing period</strong></ion-col>
            <ion-col class="text-right">{{type}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"><strong>Date On</strong></ion-col>
            <ion-col class="text-right">{{impose_date}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"><strong>Amount</strong></ion-col>
            <ion-col class="text-right">Rs. {{amount}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-right" size="12">
              <a *ngIf=hasLink class="item" href="#" (click)="openLink()">
              View Attachment
              </a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6"><strong>Description : </strong></ion-col>
          </ion-row>
          <p style="padding-left: 5px;padding-right: 5px;" id="additional_text"> </p>
          <br/>
          <br />
          <ion-row *ngIf=latest>
            <ion-col size="6"  *ngIf="roleWise== 'AdminMember'"  style="text-align: center;">
              <!--<button ion-button color="primary" block (click)="EditFine()">Edit</button>-->
              <ion-button color="primary" block (click)="EditFine()" style="width: 100px;">Edit</ion-button>
              <!--<a href="#" class="item"  (click)="EditFine()"><strong>Edit</strong></a> -->
            </ion-col>
            <ion-col size="6"  *ngIf="roleWise== 'AdminMember'" style="text-align: center;">
              <ion-button color="danger" block (click)="DeleteFine()" style="width: 100px;">Delete</ion-button>
              <!--<button ion-button color="danger" block (click)= "DeleteFine()">Delete</button>-->
              <!--<a href="#"  class="item" (click)= "DeleteFine()"><strong>Delete</strong></a>-->
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>