<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Edit Fine</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="viewimposefine" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list no-lines>
		<p text-center style="color:#FF0000; text-align: center;" ><strong>{{message}}</strong></p>
		<ion-list class="list-padding">
      <ion-row>
        <ion-col><ion-label>Bill Period :  {{type}}</ion-label></ion-col>
      </ion-row>
    </ion-list>
		<ion-list class="list-padding">
      <ion-row>
        <ion-col><ion-label >Selected Unit  :  {{UnitNo}}  {{updateData.member_name}}</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!--<ion-label floating>Amount *</ion-label>-->
          <ion-input label="Amount *" labelPlacement="floating"  type="text" value="" [(ngModel)]="updateData.amount"></ion-input>
			    <!--<ion-input type="text" value="" [(ngModel)]="updateData.amount"></ion-input>-->
        </ion-col>
      </ion-row>
    
		</ion-list>
    <ion-list class="list-padding"> 
      <ion-row>
        <ion-col>
          <!--<ion-label floating>Description *</ion-label>-->
          <ion-textarea [(ngModel)]="updateData.desc" label="Description *" labelPlacement="floating"  placeholder="Description" rows="5"></ion-textarea>
			    <!--<ion-textarea [(ngModel)]="updateData.desc" rows="5"></ion-textarea>-->
        </ion-col>
      </ion-row>
			
		</ion-list>
		<ion-list class="list-padding">
      <ion-row>
        <ion-col>
          <ion-checkbox   [(ngModel)]="checked" (ngModelChange)="getSelect(checked)"></ion-checkbox>
          <ion-label> &nbsp;&nbsp;&nbsp;send email notification</ion-label>
        </ion-col>
      </ion-row>
     
     
    </ion-list>
		<ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
			  <!--<button ion-button color="primary" block (click)="update()">Update</button>-->
        <ion-button color="primary" block (click)="update()">Update</ion-button>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
      <p style="color:#FF0000; text-align: center;">{{message}}</p>
		
	</ion-list>
</ion-content>
