<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Receipt Details</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-row style="margin-top: 6px;">
	    <ion-col text-center style="text-align: center;">
	      <strong>Receipt Period</strong>
	    </ion-col>
  	</ion-row>
  	<ion-row>
  		<ion-col text-center style="text-align: center;">
  			{{start_date}} TO {{end_date}}
  		</ion-col>
  	</ion-row>
  	<hr>
  	<ion-card *ngFor="let p of particulars">
	    <ion-card-content>
	    	{{p.Bank}}
	    	{{p.Branch}}
	      	<ion-row>
	      		<ion-col><strong>Date : </strong></ion-col>
	      		<ion-col text-right>{{p.ChequeDate}}</ion-col>
	      	</ion-row>
	      	<ion-row>
	      		<ion-col><strong>Amount : </strong></ion-col>
	      		<ion-col text-right>{{p.Amount}}.00</ion-col>
	      	</ion-row>
	      	<ion-row>
	      		<ion-col><strong>Mode : </strong></ion-col>
	      		<ion-col text-right>{{p.mode}}</ion-col>
	      	</ion-row>
	      	<ion-row *ngIf="IsValidMode(p.mode,'NEFT')">
	      		<ion-col><strong>Transaction No. : </strong></ion-col>
	      		<ion-col text-right>{{p.ChequeNumber}}</ion-col>
	      	</ion-row>
	      	<ion-row *ngIf="IsValidMode(p.mode,'CHEQUE')">
	      		<ion-col><strong>Cheque No. : </strong></ion-col>
	      		<ion-col text-right>{{p.ChequeNumber}}</ion-col>
	      	</ion-row>
	      	<ion-row *ngIf="IsValidMode(p.mode,'HIDEFORCASH')">
	      		<ion-col><strong>Bank : </strong></ion-col>
	      		<ion-col text-right>{{p.PayerBank}}</ion-col>
	      	</ion-row>
	      	<ion-row *ngIf="IsValidMode(p.mode,'HIDEFORCASH')">
	      		<ion-col><strong>Branch : </strong></ion-col>
	      		<ion-col text-right>{{p.PayerChequeBranch}}</ion-col>
	      	</ion-row>
          	<ion-row >
	      		<ion-col><strong>Comments : </strong></ion-col>
	      		<p style="padding-left: 5px;padding-right: 5px; margin-top: -5px;">{{p.Comments}}</p>
	      	</ion-row>
	      	<ion-row>
	      		
	      	</ion-row>
	    </ion-card-content>
	</ion-card>
</ion-content>