<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
       
        <ion-row>
          <ion-col col-2>
            <!--<ion-icon><img src="/assets/images/icon_s.png"></ion-icon>-->
            <ion-img  src="/assets/images/icon_s.png" style="width:50%"></ion-img>
          </ion-col>
          <ion-col size="8" style="line-height: 37px;">
            <strong>
              Way2Society
           </strong>
            </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
       <ion-row  text-wrap>
              <ion-col size="2">
                <ion-avatar item-left>
                  <ion-icon name="person" style="font-size:40px;margin-top: 20px;"></ion-icon>
                </ion-avatar>
              </ion-col>
              <ion-col size="10">
                <ion-row style="border-bottom: 1px solid lightgray;">
                  <ion-col><strong>{{globalVars.USER_NAME}}</strong><br>{{globalVars.MAP_USER_ROLE}}</ion-col></ion-row>
                  
                  <ion-row style="border-bottom: 1px solid lightgray;line-height: 3rem;"><ion-col (click)="selectSociety()"><h6>{{globalVars.MAP_SOCIETY_NAME}}</h6></ion-col>  
                </ion-row>
              </ion-col>
              </ion-row>
              <ion-item *ngFor="let p of pagesMember"  (click)="openPage(p)">
                {{p.title}}
                </ion-item>
                <ion-item menuClose ion-item (click)="logout()">
                  Logout
              </ion-item>
        <!--<ion-item (click)="Dashboard()">
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Helpline Number</ion-label>
        </ion-item>
        <ion-item>

          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item>
         
          <ion-label>Link Another Society/Flat</ion-label>
        </ion-item>
        <ion-item>
         
          <ion-label>About Us</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          
          <ion-label>Logout</ion-label>
        </ion-item>-->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

<!--<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>-->
<!--<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{AppName}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of appPages" >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            
             <ion-item >
              <ion-icon slot="start" name="md-power"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
             </ion-item>
          </ion-menu-toggle>




        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>-->
<!--<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Way2Society</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item>
              <ion-icon slot="start" ></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
            <ion-item >
              <ion-icon slot="start" ></ion-icon>
              <ion-label>
                Setting
              </ion-label>
             </ion-item>
             <ion-item >
              <ion-icon slot="start" name="md-power"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
             </ion-item>
          </ion-menu-toggle>




        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>-->