<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Manage Vehicle</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="Block_unit==1">
  <ion-list no-line >
    <ion-row>
      <ion-col style="text-align: center;">
        <h2 style="color: red;">Access Denied!</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <p style="white-space: initial;color: red;">We are sorry, but your access has been blocked for this feature. Please contact your Managing Committee for resolution.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <p ><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase;color: red;"> {{Block_desc}}</span> </p>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="Block_unit==0">
	<ion-list no-lines>
		<ion-row >
      <ion-col style="text-align: center;">
        <strong>{{page_title}}</strong>
      </ion-col>
		</ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col style="text-align: center;">
        <p style="color:#FF0000;" ><strong>{{message}}</strong></p>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-select label="Vehicle Type" placeholder="select type *" style="color:#0d0d0d" [(ngModel)]="userData.type">
          <ion-select-option value=2>Bike</ion-select-option>
          <ion-select-option value=4>Car</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;" *ngIf="isadmin == 1">
      <ion-col>
        <ion-input label="Parking Slot No." labelPlacement="floating" type="text" value="" [(ngModel)]="userData.slot"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;"  *ngIf="isadmin == 1">
      <ion-col>
        <ion-input label="Parking Sticker No." labelPlacement="floating" type="text" value="" [(ngModel)]="userData.sticker"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Registration No. *" labelPlacement="floating" type="text" value="" [(ngModel)]="userData.regno"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Owner Name *" labelPlacement="floating" type="text" value="" [(ngModel)]="userData.owner"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Vehicle Make *" labelPlacement="floating" type="text" value="" [(ngModel)]="userData.make"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Vehicle Model *" labelPlacement="floating" type="text" value="" [(ngModel)]="userData.model"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col>
        <ion-input label="Vehicle Color *" labelPlacement="floating" type="text" value="" [(ngModel)]="userData.color"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col style="text-align: center;">
        <p style="color:#FF0000;" ><strong>{{message}}</strong></p>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 10px;padding-right: 10px;">
      <ion-col size="2"></ion-col>
      <ion-col size="8" style="text-align: center;">
        <ion-button color="primary" block (click)="submit()" style="height: 35px;">Add Vehicle</ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  </ion-list>
</ion-content>
