<ion-header translucent="true">
	<ion-toolbar>
		<ion-title>Add Classified</ion-title>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end" style="width:30%">
			<ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding *ngIf="Block_unit==1">
	<ion-list no-line>
		<ion-item>
			<ion-row>
				<ion-col text-center>
					<h2 style="color: red;">Access Denied!</h2>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col text-center>
					<p style="white-space: initial;color: red;">We are sorry, but your access has been blocked for this
						feature. Please contact your Managing Committee for resolution.</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col text-center>
					<p><b>Reason :</b> <span style="white-space: initial;text-transform: uppercase;color: red;">
							{{Block_desc}}</span> </p>
				</ion-col>
			</ion-row>
		</ion-item>

	</ion-list>
</ion-content>
<ion-content padding *ngIf="Block_unit==0">
	<ion-list no-lines>
		<p text-center style="color:#FF0000;"><strong>{{message}}</strong></p>
		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Add Title *</ion-label>
			<ion-input type="text" style="width: 100%; max-width: 90%;  margin-left: 20px;" value="" [(ngModel)]="userData.ad_title"></ion-input>
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Phone *</ion-label>
			<ion-input type="text" style="width: 100%; max-width: 90%;  margin-left: 20px;" value="" [(ngModel)]="userData.phone"></ion-input>
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Expiry date</ion-label>
			<!-- <ion-datetime displayFormat="DD/MMM/YYYY" min="2016" max="2032"
				[(ngModel)]="userData.exp_date"></ion-datetime> -->
				<ion-input id="date" class="ion-text-start" style=" font-size: 15px; margin-left: 20px;" displayFormat="DD/MMM/YYYY" [(ngModel)]="userData.exp_date" ></ion-input>
				<ion-popover trigger="date" size="cover">
				  <ng-template>
					<ion-datetime style="background-color: #ffffff;" presentation="date"
					min="2016" max="2032" displayFormat="DD/MMM/YYYY" [(ngModel)]="userData.exp_date"></ion-datetime>
				  </ng-template>
				</ion-popover>
				
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Location *</ion-label>
			<ion-input type="text" style="width: 100%; max-width: 90%;  margin-left: 20px;" value="" [(ngModel)]="userData.location"></ion-input>
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Email *</ion-label>
			<ion-input type="text" style="width: 100%; max-width: 90%;  margin-left: 20px;" value="" [(ngModel)]="userData.email"></ion-input>
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Details *</ion-label>
			<ion-textarea type="text" style="margin-left: 20px;" value="" [(ngModel)]="userData.desp"></ion-textarea>
		</ion-list>

		<ion-list>
			<ion-label floating style="font-weight: bold; margin-left: 20px;">Category *</ion-label>
			<ion-select [(ngModel)]="userData.cat_id" style="margin-left: 20px;">
				<ion-select-option text-wrap *ngFor="let d of cat_list" value="{{d.cat_id}}">{{d.name}}</ion-select-option>
			</ion-select>
		</ion-list>

		<ion-list>
			<ion-card>
				<img src="{{pathForImage(lastImage)}}" [hidden]="lastImage === null" style="max-height : 50vh"
					(click)="selectItems()">
			</ion-card>
			<h3 [hidden]="lastImage !== null"></h3>

			<button ion-button round icon-left style=" font-weight: bold;"(click)="presentActionSheet()">
				<ion-buttons text-center>


					<ion-icon name="camera" style="margin-left: 20px;"></ion-icon>Select Image
				</ion-buttons>
			</button>
		</ion-list>

		<ion-list>
			<ion-row>
				<ion-col col-2></ion-col>
				<ion-col col-8>
					<button ion-button color="primary" style="color: #ffffff;background-color :#488aff; height: 30px; width: 150px;" block (click)="create()">Create Classified</button>
				</ion-col>
				<ion-col col-2>
				</ion-col>
			</ion-row>
			<p style="color:#FF0000;">{{message}}</p>
		</ion-list>
	</ion-list>
</ion-content>