<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Polls</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="active" (click)="fetchActive()">
        Open
      </ion-segment-button>
      <ion-segment-button value="close" (click)="fetchClose()">
        Closed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <div [ngSwitch]="tab">
    <ion-list no-lines *ngSwitchCase="'active'">
      <ion-searchbar (ionInput)="getItems1($event)"></ion-searchbar>
      <ion-card *ngFor="let p of temp_active_polls_array" style="margin-top: 0px;">
            <ion-card-content (click)="takepoll(p)" *ngIf="pollmessage== 1 ">
              <ion-card-title style="font-size: x-large;"><strong>{{p.question}}</strong></ion-card-title>
                <ion-row>
                <ion-col col-4>
                <strong>Started On</strong>
                </ion-col>
                <ion-col text-right>
                {{p.start_date}}
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col col-4>
                <strong>Ends On</strong>
                </ion-col>
                <ion-col text-right>
                  {{p.end_date}}
                </ion-col>
              </ion-row>
          </ion-card-content>
        </ion-card>
    <!--<p text-center style="color: red;">{{message}}</p>-->
    <p *ngIf="pollmessage==2" text-center style="color: red;">Coming Soon !</p>
    </ion-list>
  
    <ion-list no-lines *ngSwitchCase="'close'">
      <ion-searchbar (ionInput)="getItems2($event)"></ion-searchbar>
      <ion-card *ngFor="let p of temp_inactive_polls_array" style="margin-top: 0px;">
            <ion-card-content (click)="takepoll(p)" *ngIf="pollmessage== 1">
  
              <ion-card-title style="font-size: x-large;"><strong>{{p.question}}</strong></ion-card-title>
                <ion-row>
                <ion-col col-4>
                <strong>Started On</strong>
                </ion-col>
                <ion-col text-right>
                {{p.start_date}}
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col col-4>
                <strong>Ended On</strong>
                </ion-col>
                <ion-col text-right>
                  {{p.end_date}}
                </ion-col>
              </ion-row>
  
          </ion-card-content>
        </ion-card>
    <!--<p text-center style="color: red;">{{message}}</p>-->
    <p *ngIf="pollmessage== 2 " text-center style="color: red;">Coming Soon !</p>
    </ion-list>
  
    </div>
  </ion-content>