<ion-header translucent="true">
	<ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
	  <ion-title>Services</ion-title>
	  <ion-buttons slot="end">
		<ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
	 </ion-buttons>
	</ion-toolbar>
</ion-header>
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <p style="padding-left: 5px;padding-right: 5px;">If App version is less than Service Implemented version then show feature details from above column and add "In order to use this service, please update your app to version - <strong><a href ="#" (click)="downloadApp()">{{LatestVersion}}</a></strong> or above"</p>
          </ion-col>
        </ion-row>
        <ion-list  *ngIf="Description != ''">
          <ion-row>
            <ion-col size="12"><strong>Description : </strong></ion-col>
          </ion-row>
          </ion-list>
          <p style="padding-left: 5px;padding-right: 5px;" id="notice_details"></p>


      </ion-card-content>
    </ion-card>
    </ion-content>

