.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-color
{
    color: #0d0d0d;
}
.link-btn
{
    color: #005aff;
    font-size: 1rem;
}