<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Notices</ion-title>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="active">
        Active Notices
      </ion-segment-button>
      <ion-segment-button value="expired">
        Expired Notices
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
	<div [ngSwitch]="tab">
    <ion-list no-lines *ngSwitchCase="'active'">
    	<ion-card *ngFor="let p of particulars_active">
	    	<ion-card-content >
	      		<ion-card-title style="font-size: x-large;">{{p.subject}}</ion-card-title>
	      		<p><ion-icon name="calendar" primary>&nbsp;</ion-icon>Post Date : {{p.creation_date}}</p>
	      		<p  *ngIf="p.exp_date !='0000-00-00'"><ion-icon name="calendar" danger>&nbsp;</ion-icon>Expiry Date : {{p.exp_date}}</p>
            <p *ngIf="p.exp_date =='0000-00-00'"><ion-icon name="calendar" danger>&nbsp;</ion-icon>Expiry Date : No expiry</p>
	      		<p text-right style="text-align: right;">
              <a (click)="viewNotice(p)"> View Details</a>
	      			<!--<a class="item" href="#">
	        			View Details
	      			</a>-->
	      		</p>
	    	</ion-card-content>
	  	</ion-card>
	  	<p *ngIf=!hasActiveNotices text-center style="color:red;text-align: center;">No Active Notices To Display</p>
    </ion-list>
    <ion-list no-lines *ngSwitchCase="'expired'">
    	<ion-card *ngFor="let p of particulars_expired">
	    	<ion-card-content >
	      		<ion-card-title style="font-size:x-large;">{{p.subject}}</ion-card-title>
	      		<p><ion-icon name="calendar" primary>&nbsp;</ion-icon>Post Date : {{p.creation_date}}</p>
	      		<p><ion-icon name="calendar" danger>&nbsp;</ion-icon>Expiry Date : {{p.exp_date}}</p>
	      		<p text-right style="text-align: right;">
              <a (click)="viewNotice(p)"> View Details</a>
	      			<!--<a class="item" href="#">
	        			View Details
	      			</a>-->
	      		</p>
	    	</ion-card-content>
	  	</ion-card>
	  	<p *ngIf=!hasExpiredNotices text-center style="color:red;text-align: center;">No Expired Notices To Display</p>
    </ion-list>
    </div>
<p id="msg" text-center style="color: red;text-align: center;"></p>
</ion-content>
