<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
    </ion-buttons>
    
  </ion-toolbar>
   <!--           Admin and SuperAdmin tabs -->
   <!--<ion-toolbar no-border  *ngIf="roleWise!= 'Member' && roleWise != 'AdminMember'  " style="margin-top: -15px;" >
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="society">
         <strong>My Society</strong>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <strong>Admin</strong>
      </ion-segment-button>
    </ion-segment>
   </ion-toolbar>-->
 <!--           Admin member tabs -->
   <!--<ion-toolbar no-border  *ngIf="roleWise == 'AdminMember'" style="margin-top: -15px;" >
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="society">
         <strong>My Society</strong>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <strong>Admin</strong>
      </ion-segment-button>
       <ion-segment-button value="service">
        <strong>Services</strong>
      </ion-segment-button>
    </ion-segment>
   </ion-toolbar>-->
 <!--           Members tabs -->
  <ion-toolbar no-border  style="margin-top: -15px;" >
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="society">
         <strong>My Society</strong>
      </ion-segment-button>
      <ion-segment-button value="service">
        <strong>Services</strong>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list no-lines>  
    <ion-item text-wrap text-center text-uppercase>
      <strong>WAY2SOCIETY - Play Ground - [ 502 ]</strong>
     <!-- <strong (click)="selectSociety()">{{globalVars.MAP_SOCIETY_NAME}}</strong>-->
  </ion-item>
  </ion-list>

</ion-header>
<ion-content padding> 
  <ion-refresher slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<!-- Member Sections  -->
<div [ngSwitch]="tab">
  <ion-list no-lines *ngSwitchCase="'society'">
    <ion-card >
      <ion-card-content (click)="viewDues()">
      <ion-row style="background-color: #337ab7;color:#fff;">
          <ion-col style="text-align-last: center;">
            <strong style="font-size: 15px;">Member Ledgers</strong>
          </ion-col>
        </ion-row>
     <ion-item>
      <ion-row>
        <ion-col size="2">
          <ion-avatar item-left>
                  <img src="/assets/images/bills.jpg" >
          </ion-avatar>
        </ion-col>
        <ion-col text-right size="10" style="text-align: right;">
       <h2>Total Dues : <strong>Rs. {{due_amount}}</strong> </h2>
         <h4>Due Date : <strong>{{bill_duedate}}</strong></h4>
         <h2 style="margin-top: 10px;">Last Payment : <strong>Rs. {{receipt_amount}}</strong></h2>
         <h4 >Last Payment Date : <strong>{{receipt_date}}</strong></h4> 
        </ion-col>
      </ion-row>
       
      </ion-item>
            
    </ion-card-content>
   </ion-card>
     
        <ion-card >
       <ion-card-content (click)="viewFeature()">
       <ion-row style="background-color: #f0ad4e;color:#fff;">
           <ion-col>
             <strong style="font-size: 15px;">Latest Features</strong>
           </ion-col>
         </ion-row>
      <ion-item>
         <ion-row >
           <ion-col text-center >
             <strong>No Active Features </strong>
           </ion-col>
         </ion-row>
         <!--<ion-list *ngFor="let ad of Feature_All_array">
           <ion-row>
             <ion-col text-wrap>
               <strong style="font-size: 15px;"><ion-icon name="checkmark"></ion-icon> &nbsp;&nbsp;{{ad.title}}</strong>
             </ion-col>
           </ion-row>
         </ion-list>-->
       </ion-item>
             
     </ion-card-content>
   </ion-card>
 
  <ion-card  *ngIf="event_details_array.length != 0">
    	<ion-card-content (click)="viewAllEvents()" >
      <ion-row style="background-color: #f0ad4e;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Upcoming Events</strong>
          </ion-col>
        </ion-row>
        <ion-item >
        <ion-row *ngIf="event_details_array.length == 0">
          <ion-col text-center>
            <strong>No Upcoming Event</strong>
          </ion-col>
        </ion-row>
        <!--<ion-row  *ngFor="let e of event_details_array">
        <ion-col text-wrap>
         <strong style="font-size: 15px;">{{e.events_title}}</strong>
        <p *ngIf="e.events_date != '0'" >
        <ion-icon name="calendar" primary>&nbsp;{{e.events_date}} <span *ngIf="e.event_time != '0'"> at {{e.event_time}}</span></ion-icon></p>
        </ion-col>
       </ion-row>-->
        </ion-item>
    	</ion-card-content>
  	</ion-card>
  
  	<ion-card >
    	<ion-card-content (click)="viewAllNotices()" >
      <ion-row style="background-color: #5cb85c;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Notices</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row *ngIf="notice_details_array.length == 0">
          <ion-col text-center>
            <strong>No Active Notice </strong>
          </ion-col>
        </ion-row>
        <!--<ion-row *ngFor="let n of notice_details_array">
        <ion-col text-wrap>
         <strong style="font-size: 15px;">{{n.subject}}</strong>
      			<p *ngIf="n.creation_date != '0'">
            <ion-icon name="calendar" primary>&nbsp;{{n.creation_date}} </ion-icon></p>
            </ion-col>
            </ion-row>-->
            </ion-item>
            
    	</ion-card-content>
  	</ion-card>
  
    <ion-card  *ngIf="SRequest_details_array.length != 0">
      <ion-card-content (click)="sRequest()">
      <ion-row style="background-color: #337ab7;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Service Requests</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row *ngIf="SRequest_details_array.length == 0">
          <ion-col text-center>
            <strong>No Active Service Request </strong>
          </ion-col>
        </ion-row>
       <!-- <ion-list *ngFor="let s of SRequest_details_array">
         <ion-row >
        <ion-col text-wrap>
         <strong style="font-size: 15px;">{{s.summery}}</strong>
            <p *ngIf="s.dateofrequest != '0'">
            <ion-icon name="calendar" primary>&nbsp;{{s.dateofrequest}} </ion-icon></p>
            </ion-col>
            </ion-row>
         </ion-list>-->
            </ion-item>
            
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list no-lines *ngSwitchCase="'service'">
    <ion-list  *ngFor="let s of Services_array">
  <ion-card>
    <ion-card-content >
    <ion-row style="background-color: #f0ad4e;color:#fff;">
        <ion-col style="text-align-last: center;">
          <strong style="font-size: 15px;">Renting Registration</strong>
        </ion-col>
      </ion-row>
   <ion-item>
      <ion-row >
        <ion-col text-center >
          <img src="/assets/images/Agreement.png" >
        </ion-col>
      </ion-row>
      <ion-list >
       
       </ion-list>
          </ion-item>
          
    </ion-card-content>
  </ion-card>
  <!--<ion-list no-lines *ngSwitchCase="'service'">
    <ion-list  *ngFor="let s of Services_array">
   <ion-card>
    <ion-item style="text-align: center;">
          <ion-row style="background-color: #f0ad4e;color:#fff;">
            <ion-col>
              <strong>Renting Registration{{s.ServiceName}}</strong>
           <!-- </ion-col>
          </ion-row>
        </ion-item>
       
   <ion-card-content (click)="PageUrl(s.ImplementApp,s.status,s.ServiceName,s.Desc)">
       <ion-row>
         <ion-col col-12 text-center >
          <img src="{{img_link}}{{ServiceImage}}" style="width: 95%;margin-left: 2%;margin-top: -2%;">
       </ion-col>
       </ion-row>
    </ion-card-content>
   </ion-card>-->
  </ion-list>
  </ion-list>
  </div>
</ion-content>

<!--<ion-header>
    <ion-buttons slot="start">
      <ion-menu-buttons menu="main-menu"></ion-menu-buttons>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>

    <ion-buttons end>
        <ion-icon><img src="/assets/images/icon_s.png"></ion-icon>
    </ion-buttons>
  
  <ion-toolbar no-border  *ngIf="roleWise!= 'Member'" style="margin-top: -15px;" >
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="society">
         <strong>My Society</strong>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <strong>Services</strong>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  <ion-list no-lines>  
    <ion-item text-wrap text-center text-uppercase >
      <strong >Way2Society - Demo Society [201]</strong>
  </ion-item>
  </ion-list>-->


  <!-- ******************************* All  section ********************* -->
<!--</ion-header>


<ion-content padding> 

<div [ngSwitch]="tab">
  
<ion-list no-lines *ngSwitchCase="'society'">
  <ion-card >
    <ion-card-content >
    <ion-row style="background-color: #337ab7;color:#fff;">
        <ion-col style="text-align-last: center;">
          <strong style="font-size: 15px;">Member Ledgers</strong>
        </ion-col>
      </ion-row>
   <ion-item>
    <ion-row>
      <ion-col size="2">
        <ion-avatar item-left>
                <img src="/assets/images/bills.jpg" >
        </ion-avatar>
      </ion-col>
      <ion-col text-right size="10" style="text-align: right;">
     <h2>Total Dues : <strong>Rs.25000.00</strong> </h2>
       <h4>Due Date : <strong>10-04-2023</strong></h4>
       <h2 style="margin-top: 10px;">Last Payment : <strong>Rs. 7000.00</strong></h2>
       <h4 >Last Payment Date : <strong>12-01-2023</strong></h4> 
      </ion-col>
    </ion-row>
     
    </ion-item>
          
  </ion-card-content>
 </ion-card>
  <!--<ion-card *ngIf="roleWise != 'Admin' && roleWise != 'SuperAdmin'">
  		<ion-item style="text-align: left;" >
  			<ion-row style="background-color: #337ab7;color:#fff;">
          <ion-col size="12">
            <strong>Member Ledgers</strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-avatar item-left>
                		<img src="/assets/images/bills.jpg" >
            </ion-avatar>
          </ion-col>
          <ion-col text-right size="10">
         <h2>Total Dues : <strong>Rs.25000.00</strong> </h2>
           <h4>Due Date : <strong>10-04-2023</strong></h4>
           <h2 style="margin-top: 10px;">Last Payment : <strong>Rs. 7000.00</strong></h2>
           <h4 >Last Payment Date : <strong>12-01-2023</strong></h4> 
          </ion-col>
        </ion-row>
  		</ion-item>
    </ion-card>-->
    <!--   *********************   View task Section (Admin and SuperAdmin) ******************  -->
      <!--<ion-list *ngIf="task_by_me_array.length != 0">
      
     
       <ion-card  *ngIf="roleWise == 'Admin' || roleWise == 'SuperAdmin'"  >
      <ion-card-content (click)="viewTask()" >
      <ion-row style="background-color: #5cb85c;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Tasks</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row *ngIf="task_by_me_array.length == 0">
          <ion-col text-center>
            <strong>No Active Task </strong>
          </ion-col>
        </ion-row>
        <ion-list *ngFor="let TaskByMe of task_by_me_array">
          <ion-row >
            <ion-col  text-wrap>
            <strong>ABC </strong>
           
              <p><ion-icon name="time" primary>&nbsp;15-10-2023 </ion-icon></p>
              <p><ion-icon name="stats" primary>&nbsp; 4</ion-icon></p>
            </ion-col>
           
          </ion-row>
          <hr>
        </ion-list>
      </ion-item>
            
    </ion-card-content>
  </ion-card>
</ion-list>-->

<!--  ******************************************** Advertizment  ***************************************-->

      <!--<ion-card >
      <ion-card-content  >
      <ion-row style="background-color: #f0ad4e;color:#fff;">
          <ion-col style="text-align-last: center;">
            <strong style="font-size: 15px;">Latest Features</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row  *ngIf="Feature_All_array.length == 0">
          <ion-col text-center >
            <strong>No Active Features </strong>
          </ion-col>
        </ion-row>
        
      </ion-item>
            
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-content >
    <ion-row style="background-color: #5cb85c;color:#fff;">
        <ion-col style="text-align-last: center;">
          <strong style="font-size: 15px;">Latest Notices</strong>
        </ion-col>
      </ion-row>
   <ion-item>
      <ion-row >
        <ion-col text-center>
          <strong>No Active Notice </strong>
        </ion-col>
      </ion-row>
      
          </ion-item>
          
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content >
    <ion-row style="background-color: #337ab7;color:#fff;">
        <ion-col style="text-align-last: center;"> 
          <strong style="font-size: 15px;">Latest Service Requests</strong>
        </ion-col>
      </ion-row>
   <ion-item>
      <ion-row >
        <ion-col text-center>
          <strong>No Active Service Request </strong>
        </ion-col>
      </ion-row>
      <ion-list >
       
       </ion-list>
          </ion-item>
          
    </ion-card-content>
  </ion-card>
</ion-list>
<ion-list no-lines *ngSwitchCase="'admin'">
  <ion-card>
    <ion-card-content >
    <ion-row style="background-color: #f0ad4e;color:#fff;">
        <ion-col style="text-align-last: center;">
          <strong style="font-size: 15px;">Renting Registration</strong>
        </ion-col>
      </ion-row>
   <ion-item>
      <ion-row >
        <ion-col text-center >
          <img src="/assets/images/Agreement.png" >
        </ion-col>
      </ion-row>
      <ion-list >
       
       </ion-list>
          </ion-item>
          
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content >
    <ion-row style="background-color: #f0ad4e;color:#fff;">
        <ion-col style="text-align-last: center;">
          <strong style="font-size: 15px;">My Visitors</strong>
        </ion-col>
      </ion-row>
   <ion-item>
      <ion-row >
        <ion-col text-center>
          <img src="/assets/images/visitorTrack.png" >
        </ion-col>
      </ion-row>
      <ion-list >
       
       </ion-list>
          </ion-item>
          
    </ion-card-content>
  </ion-card>
</ion-list>
    <!--   *********************   View Event Section (All User) ******************  --> 
  <!--ion-card (click)="viewAllEvents()" *ngIf="event_details_array.length != 0" >
    	<ion-card-content>
      <ion-row style="background-color: #f0ad4e;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Upcoming Events</strong>
          </ion-col>
        </ion-row>
        <ion-item >
        <ion-row *ngIf="event_details_array.length == 0">
          <ion-col text-center>
            <strong>No Upcoming Event</strong>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let e of event_details_array">
        <ion-col text-wrap>
         <strong style="font-size: 15px;">events</strong>
        <p >
        <ion-icon name="calendar" primary>&nbsp;events <span > at 10:20AM</span></ion-icon></p>
        </ion-col>
       </ion-row>
        </ion-item>
    	</ion-card-content>
  	</ion-card>-->

<!--   *********************   View Notice Section (All User) ******************  --> 
  	<!--<ion-card >
    	<ion-card-content >
      <ion-row style="background-color: #5cb85c;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Notices</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row >
          <ion-col text-center>
            <strong>No Active Notice </strong>
          </ion-col>
        </ion-row>
        <ion-row >
        <ion-col text-wrap>
         <strong style="font-size: 15px;">notice</strong>
      			<p >
            <ion-icon name="calendar" primary>&nbsp;12-01-2123 </ion-icon></p>
            </ion-col>
            </ion-row>
            </ion-item>
            
    	</ion-card-content>
  	</ion-card>-->

<!--   *********************   View Service Request Section (All User) ******************  --> 
    <!--<ion-card>
      <ion-card-content >
      <ion-row style="background-color: #337ab7;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Service Requests</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row >
          <ion-col text-center>
            <strong>No Active Service Request </strong>
          </ion-col>
        </ion-row>
        <ion-list >
         <ion-row >
        <ion-col text-wrap>
         <strong style="font-size: 15px;">test</strong>
            <p >
            <ion-icon name="calendar" primary>&nbsp; </ion-icon></p>
            </ion-col>
            </ion-row>
         </ion-list>
            </ion-item>
            
      </ion-card-content>
    </ion-card>-->

    <!--   *********************   View Classified Section (All User) ******************  --> 
    <!--<ion-card >
      <ion-card-content >
      <ion-row style="background-color: #f0ad4e;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Classifieds</strong>
          </ion-col>
        </ion-row>
     <ion-item>
        <ion-row >
          <ion-col text-center>
            <strong>No Active Classified </strong>
          </ion-col>
        </ion-row>
        </ion-item>
            
      </ion-card-content>
    </ion-card>-->

     <!--   *********************   View Poll Section (All User) ******************  --> 
    <!--<ion-card >
      <ion-card-content >
      <ion-row style="background-color: #5cb85c;color:#fff;">
          <ion-col>
            <strong style="font-size: 15px;">Latest Polls</strong>
          </ion-col>
        </ion-row>
            
      </ion-card-content>
    </ion-card>-->

    

    <!-- ***************************** Admin section *******************************  -->


    <!--<ion-list no-lines *ngSwitchCase="'admin'">
     <ion-card>
      <ion-item style="text-align: center;">
        <ion-row style="background-color: #337ab7;color:#fff;">
          <ion-col>
            <strong>Admin Actions</strong>
          </ion-col>
        </ion-row>
        <div style="height: 80px;margin-top: 14px;width: 100%;margin-left: 8px;">
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="hand" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">Fine</span>
            </div>
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="search" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">S-Provider</span>
            </div>
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="paper" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">S-Request</span>
            </div>

            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;"><ion-icon name="switch" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">Task</span>
           </div>
       </div>
      </ion-item>
  </ion-card>-->

  <!--  **************************** Waiting For Apporval In Admin Section **************** -->
   <!-- <ion-card>
      <ion-item style="text-align: center;">
        <ion-row style="background-color: #f0ad4e;color:#fff;">
          <ion-col>
            <strong>Waiting for Approvals</strong>
          </ion-col>
        </ion-row>
        <br/>
        
         <div style="height: 80px;margin-top: 14px;width: 100%;margin-left: 8px;">
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="ios-people" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">Tenants</span>
            </div>
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="search" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">S-Provider</span>
            </div>
            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="pricetags" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">Classified</span>
            </div>

            <div style="float: left;width: 25%;">
              <button ion-fab style="width: 50px;height: 50px;" ><ion-icon name="images" style="font-size: 2.7rem;"></ion-icon></button>
              <span style="font-size: 1.3rem;margin-left: -25px;">Photos</span>
           </div>
       </div>
      </ion-item>
    </ion-card>

    

 </ion-list>-->
   <!-- </div>
    
</ion-content>=-->
<!--<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>-->
<!--<ion-footer >
<div style="height: 90px;">
 
 <ion-slides pager style="margin-left: 10px;margin-top: -3%;height: 100px;">
  <ion-slide >
    <div style="width: 100%;">
     <div style="float: left;width: 20%;padding-left: 15px;">
         <button ion-fab style="width: 40px;height: 40px;background-color: #337ab7;color: white;
         border-radius: 10rem;"><ion-icon name="person" style="font-size: 1.5rem;" ></ion-icon></button>
         <span style="font-size: 1.0rem;margin-left: -5px;">Profile</span>
    </div>

     <div style="float: left;width: 20%;" >
     <button ion-fab style="width: 40px;height: 40px;background-color: #337ab7;color: white;
     border-radius: 10rem;" ><ion-icon name="card" style="font-size: 1.5rem;"></ion-icon></button>
     <span style="font-size: 1.1rem;margin-left: 6px;">Pay</span>
    </div>

     <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;background-color: #337ab7;color: white;
         border-radius: 10rem;"><ion-icon name="images" style="font-size: 1.5rem;"></ion-icon></button>
         <span style="font-size: 1.1rem;margin-left: -10px;">Albums</span>
    </div>

    <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;background-color: #337ab7;color: white;
         border-radius: 10rem;" ><ion-icon name="calendar" style="font-size: 1.5rem;"></ion-icon></button>
         <span style="font-size: 1.1rem;margin-left: -5px;">Events</span>
    </div>

      <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;background-color: #337ab7;color: white;
         border-radius: 10rem;" ><ion-icon name="copy" style="font-size: 1.5rem;"></ion-icon></button>
         <span style="font-size: 1.1rem;margin-left: -10px;">Notices</span>
    </div>-->

     <!--<div style="float: left;width: 20%;" >
         <button ion-fab style="width: 40px;height: 40px;" ><ion-icon name="folder-open" style="font-size: 2.7rem;"></ion-icon></button>
         <span style="font-size: 1.3rem;margin-left: -32px;">Directory</span>
    </div>-->
   
  <!--</div>
  </ion-slide>-->
  <!--<ion-slide >
    <div style="width: 100%">
     <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;" ><ion-icon name="podium" style="font-size: 2.7rem;"></ion-icon></button>
         <span style="font-size: 1.3rem;margin-left: -32px;">Polls</span>
    </div>

    <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;" ><ion-icon name="pricetags" style="font-size: 2.7rem;"></ion-icon></button>
         <span style="font-size: 1.3rem;margin-left: -32px;">Classified</span>
    </div>
    <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;" ><ion-icon name="calendar" style="font-size: 2.7rem;"></ion-icon></button>
          <span style="font-size: 1.3rem;margin-left: -32px;">Events</span>
    </div>

      <div style="float: left;width: 20%;">
         <button ion-fab style="width: 40px;height: 40px;"><ion-icon name="copy" style="font-size: 2.7rem;"></ion-icon></button>
          <span style="font-size: 1.3rem;margin-left: -32px;">Notices</span>
    </div>
    
     <div style="float: left;width: 20%;" >
         <button ion-fab style="width: 40px;height: 40px;" ><ion-icon name="folder-open" style="font-size: 2.7rem;"></ion-icon></button>
         <span style="font-size: 1.3rem;margin-left: -32px;">Directory</span>
    </div>
    
  </div>
  </ion-slide>-->
 <!--</ion-slides>
</div>
</ion-footer>-->
