<ion-header translucent="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
		  </ion-buttons>
	  <ion-title>Helpline Numbers</ion-title>
	  <ion-buttons slot="end">
		<ion-button><img style="width:70%" src="/assets/images/icon_s.png"></ion-button>
	 </ion-buttons>
	</ion-toolbar>
  </ion-header>

  <ion-content padding>
	<ion-list>
		<ion-card >
			<ion-card-content >
				<ion-list  *ngFor="let h of Helpline_array; let i = index" [attr.data-index]="i"  >

					<ion-row *ngIf="i == 0 || h.category != Helpline_array[i - 1].category" style="background-color: #337ab7;color:#fff;" >
				  <ion-col text-center>
				   <strong style="text-transform: uppercase;">{{h.category}}</strong>
				  </ion-col>
				</ion-row>

				<ion-row>
						 <ion-col>
							<strong>{{h.name}}</strong>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							 <a href="tel:{{h.numbers}}" class="button button-positive" style="text-decoration: none;"><ion-icon name='call' style="font-size: 1.5em;"></ion-icon> &nbsp;&nbsp;&nbsp;<strong>{{h.numbers}}</strong></a>
						</ion-col>
					</ion-row>
					<ion-row *ngIf="h.Note != ''">
						<ion-col >
							{{h.Note}}
						</ion-col>
					</ion-row>
				</ion-list>

			</ion-card-content>
		</ion-card>
	</ion-list>
	</ion-content>
