<ion-header>
<ion-navbar>
    <ion-title>Helpline Numbers</ion-title>
    <ion-buttons style="width:30%" end>
       <ion-icon ><img style="width:70%" src="/assets/images/logo.png"></ion-icon>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
	<ion-card >
		<ion-card-content >
			<ion-list  >

				<ion-row  style="background-color: #337ab7;color:#fff;" >
	          <ion-col text-center>
	           <strong style="text-transform: uppercase;">Fire</strong>
	          </ion-col>
	        </ion-row>

	        <ion-row>
			 		<ion-col>
						<strong>Goregaon</strong>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						 <a href="tel:" class="button button-positive" style="text-decoration: none;"><ion-icon name='call' style="font-size: 1.5em;"></ion-icon> &nbsp;&nbsp;&nbsp;<strong>100, 199, 399</strong></a>
					</ion-col>
				</ion-row>
				<ion-row >
					<ion-col >
						Test
					</ion-col>
				</ion-row>
			</ion-list>
		
		</ion-card-content>
	</ion-card>
</ion-list>
</ion-content>
