<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" icon="chevron-back-outline" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Helpline Numbers</ion-title>
    <ion-buttons slot="end" style="width:30%">
      <ion-button><img style="width:70%" src="/assets/images/logo.png"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="roleWise != 'Admin' && roleWise != 'SuperAdmin'">
    <ion-card-content>
      <ion-row>
        <ion-col text-center col-12 style="text-align: center;">
          <strong style="font-size: 1.3rem;">Security callback number</strong>
        </ion-col>
      </ion-row>

      <ion-list *ngIf="CallbackStatus== '0' ">
        <ion-row>
          <ion-col text-center>
            <strong> {{MemberContact}} [ {{MemberName}} ] </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
          </ion-col>
          <ion-col col-6 text-right>
            <a (click)="change()">Change number</a>
          </ion-col>
        </ion-row>

      </ion-list>
      <ion-list *ngIf="CallbackStatus== '1'">
        <ion-item>
          <ion-label floating>Select Number *</ion-label>
          <ion-select [(ngModel)]="userData.member_id" (ngModelChange)="SelectContact()">
            <ion-select-option text-wrap *ngFor="let c of member_Data_arry"
              [value]="c.mem_other_family_id">{{c.other_mobile}} [{{c.other_name}}]</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-row>
                <ion-col col-4>
                </ion-col>
              <ion-col col-4 text-center>
                <button ion-button color="primary" block (click)="update()" >update</button>
              
              </ion-col>
              <ion-col col-4>
              </ion-col>
             </ion-row>-->

      </ion-list>


      <hr>
      <ion-list *ngIf="CallbackStatus== '0' ">
        <a (click)="change()" style="text-align: center; margin-left: 100px;"><strong>Read more</strong></a>
      </ion-list>
      <ion-row *ngIf="CallbackStatus== '1' ">
        <ion-col col-12>
          <strong>Note :</strong>
          <p>This number would be used by security manager app to call you to approve your visitor`s enrty.</p>
          <p>If you are going out of house then you can set your family member's number who will be in the house.</p>
          <p>If your tenant is staying in your flat/unit then please set tenants contact number.</p>
          <a (click)="UpdateContact()"><strong>Update contact</strong></a>
          <ion-list>
            <a (click)="Readless()" style="text-align: center; margin-left: 100px;"><strong>Read Less</strong></a>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- Message for Security section -->
  <ion-card>
    <ion-card-content>

      <ion-list>
        <ion-row>
          <ion-col text-center col-12 style="text-align: center;">
            <strong style="font-size: 1.3rem;">DND Message for Security</strong>
          </ion-col>
        </ion-row>
        <ion-radio-group [value]="selectedDndType" [(ngModel)]="selectedDndType">
          <ion-item (click)="SaveMessage()">
            <ion-label>Leave Package at Security</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>

          <ion-item (click)="SaveMessage()">
            <ion-label>Send Package back</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>

          <ion-item (click)="changednd()">
            <ion-label>DND Message for Security</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>


    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list *ngIf="CallbackDND== '1'">
        <ion-label floating style="font-weight: bold; text-align: center; margin-left: 50px;">DND Message for
          Security</ion-label>
        <ion-input type="text" style="width: 100%; max-width: 90%;" [value]="dnddata.dnd_msg"
          [(ngModel)]="dndData.dnd_msg"></ion-input>
        <button (click)="SaveMessage()"
          style=" background-color: mediumseagreen; color: white; width: 70px; height: 20px; margin-top: 10px; margin-left: 50px;">Save</button>
        <button (click)="hideoptions()"
          style="background-color: red; color: #fff; margin-left: 20px;  width: 70px; height: 20px; margin-top: 10px;">Cancel</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="roleWise != 'Admin' && roleWise != 'SuperAdmin'">
    <ion-card-content>
      <ion-row>
        <ion-col col-12 text-center>
          <strong style="font-size: 1.8rem;">(email/sms/mobile)</strong>
        </ion-col>
      </ion-row>
      <ion-item>

        <ion-label>Notification</ion-label>
        <ion-toggle [(ngModel)]="toggleStatus" pulsado checked="{{toggleStatus}}"
          (ionChange)="Change_Toggle();"></ion-toggle>

        <!--<ion-toggle value="notification" checked="true"></ion-toggle>-->
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="roleWise == 'Admin' || roleWise == 'SuperAdmin'">
    <ion-card-content>
      <ion-list>
        <ion-row>
          <ion-col text-center col-12>
            <strong>Comming Soon !</strong>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>